/**
 Typography
**/

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
	color: $primary;
	margin: 0;
}

a {
	color: $primary;
	text-decoration: none;

	&:focus {
		outline: px(1) dotted $primaryMedium;
	}
}