/**
 Typography
**/

h1, h2, h3, h4, h5, h6 {
	font-family: $font-2;
    font-weight: normal;
	color: $primary;
	margin: 0;
}

a {
	color: $primary;
	text-decoration: none;

	&:focus {
		outline: px(1) dotted $primaryMedium;
	}
}

p {
	font-family: $font-1;
    font-size: px(14);
    line-height: px(18);
	margin: 0 0 px(10);
	letter-spacing: px(0.5);
}