.brand {

    @at-root #{&}__logo {
        display: block;
        line-height: 0;
        max-width: px(40);
        height: 100%;
        margin: 0 auto;

        &:focus {
            outline: px(1) dotted $primaryMedium;
        }
    }
}