/**
 Ceremony
**/

.ceremony {
    padding-top: px(30);
    padding-bottom: 0;

    @at-root #{&}__couple {
        border-top:  px(1) dashed $primaryMedium;
        margin: px(30) 0 0;

        @include media(screen,max,600px) {
            border-top: none;
        }
    }

    @at-root #{&}__col {
        position: relative;
        width: 50%;
        padding: px(50) px(20);

        @include media(screen,max,600px) {
            width: 100%;
        }
    }

    @at-root #{&}__details {
        position: relative;
        border-bottom:  px(1) dashed $primaryMedium;
    }

    @at-root #{&}__icon {
        position: absolute;
        border:  px(1) dashed $primaryMedium;
        background-color: #fff;
        border-radius: 50%;
        width: px(70);
        height: px(70);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 1;
    }

    @at-root #{&}__icon-inner {
        position: absolute;
        border-radius: 50%;
        background-color: $primaryLight;
        width: px(60);
        height: px(60);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    @at-root #{&}--col-line {
        border-right: px(1) dashed $primaryMedium;

        @include media(screen,max,600px) {
            border-top: px(1) dashed $primaryMedium;
            border-right: none;
        }
    }

    @at-root #{&}--col-couple {
        &:after {
            display: block;
            position: absolute;
            background-color: $primary;
            content: '';
            width: 80%;
            max-width: px(200);
            height: px(2);
            right: 0;
            bottom: px(-1);
            left: 0;
            margin: 0 auto;
        }

        @include media(screen,max,600px) {
            &:last-child {
                
                &:after {
                    content: normal;
                }
            }
        }
    }

    &.visible {
        .profile__img {
            animation: imgScale 1800ms ease-out;
        }
    }
}

.no-js {

    .ceremony {
        .title--ceremony {
            opacity: 1;
            transform: translateY(0);
        }
    }
}