/**
 Content
**/

.restaurants {

    .content__main {
        margin-bottom: px(30);

        & + .content__main {

            .gs--col-7 {
                border-top: px(1) dashed $primaryMedium;
            }
        }

        .gs--col-7 {
            padding-top: px(30);
        }

        .gs--col-5 {
            padding-top: px(30);
        }
    }
}