/**
 Ceremony
**/

.countdown {
    padding: px(40) 0;

    @at-root #{&}__timer {
        margin: px(20) 0 0;
    }

    @at-root #{&}__time {
        background-color: $primaryLight;
        font-size: px(24);
        line-height: px(24);
        text-align: center;
        width: px(80);
        height: px(50);
        margin: 0 px(5);
        padding: px(13) 0 0;
    }

    @at-root #{&}__label {
        background-color: $primaryLight;
        font-size: px(14);
        line-height: px(16);
        text-align: center;
        width: px(80);
        margin: 0 px(5);
        padding: 0 0 px(13);
    }
}