/**
 Information
**/

.info {
    padding-right: px(10);
    padding-bottom: 0;
    padding-left: px(10);

    .copy {
        padding-right: px(10);
        padding-left: px(10);
    }

    .img__container {
        position: relative;
        padding-top: 133%;

        .img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @at-root #{&}__list {
        padding: px(15) 0 0;
    }

    @at-root #{&}__col {
        position: relative;
        width: 33.33%;
        padding: 0 px(10);

        @include media(screen,max,666px) {
            width: 100%;
            margin-bottom: px(10);
        }
    }

    @at-root #{&}__main {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: px(10);
        right: px(10);
        height: 100%;

        &:hover {
            background-color: rgba(#000,0.5);
        }
    }

    @at-root #{&}__main-inner {
        padding-bottom: px(40);

        .title {
            width: 100%;
            margin-bottom: px(10);
        }
    }
}