/**
 People
**/

.people {
    padding-top: px(77);
    padding-bottom: px(80);

    @include media(screen,max,666px) {
        padding-top: px(37);
        padding-bottom: px(40);
    }

    @at-root #{&}__list {
        padding: px(20) 0 px(40);
    }

    @at-root #{&}__col {
        width: 25%;
        padding: px(30) 0 0;

        @include media(screen,max,666px) {
            width: 33.3333333333%;
        }

        @include media(screen,max,480px) {
            width: 50%;
        }
    }

    @at-root #{&}--list-brides {
        border-bottom:  px(1) dashed $primaryMedium;
        margin-bottom: px(77);

        @include media(screen,max,666px) {
            margin-bottom: px(40);
        }
    }

    @at-root #{&}--list-groomsmen {
        padding-bottom: 0;
    }
}