/**
 RSVP
**/

.rsvp {
    background-color: $primaryLight;
    padding-top: px(77);
    padding-bottom: px(70);

    @include media(screen,max,666px) {
        padding-top: px(37);
        padding-bottom: px(40);
    }

    //-- ELEMENT: Label
    @at-root #{&}__inner {
        max-width: px(400);
        width: 100%;
    }

    //-- ELEMENT: Label
    @at-root #{&}__form {
        width: 100%;
        padding-top: px(20);
    }

    //-- ELEMENT: Label
    @at-root #{&}__col {
        position: relative;
        width: 100%;
        margin-bottom: px(20);
        padding: 0 px(5);
    }

    //-- ELEMENT: Label
    @at-root #{&}__label {
        position: absolute;
        display: block;
        background-color: $primaryLight;
        border-radius: px(4);
        font-family: $font-2;
        font-size: px(14);
        line-height: px(18);
        color: $primary;
        letter-spacing: px(0.5);
        height: px(18);
        top: 0;
        left: px(10);
        bottom: 0;
        margin: auto 0;
        padding: 0 px(5);

        @include media(screen,max, 768px) {
            font-size: px(16);
        }
    }

    //-- ELEMENT: Input
    @at-root #{&}__input {
        box-shadow: 0 0 0 px(2) transparent;
        border: px(1) solid $primaryMedium;
        border-radius: px(3);
        background-color: transparent;
        outline: none;
        font-family: $font-1;
        font-size: px(16);
        line-height: px(18);
        letter-spacing: px(0.5);
        height: px(40);
        width: 100%;
        padding: 0 px(10);
        -webkit-appearance: none;

        &:focus {
            border-color: $secondary;
            box-shadow: 0 0 0 px(1) $secondary;

            & + .rsvp__label {
                font-size: px(12);
                transform: translateY(px(-9));
                bottom: auto;
            }
        }
    }

    //-- ELEMENT: Select
    @at-root #{&}__select {
        -webkit-appearance: none;
        border: px(1) solid $primaryMedium;
        border-radius: 0;
        background: #fff;
        outline: none;
        font-family: $font-1;
        font-size: px(14);
        line-height: px(18);
        letter-spacing: px(0.5);
        height: px(40);
        width: 100%;
        padding: 0 px(10);

        &:focus {
            border-color: $primary;
        }
    }

    @at-root #{&}--col-6 {
        width: 50%;

        @include media(screen,max, 480px) {
            width: 100%;
        }
    }

    @at-root #{&}--copy {
        position: absolute;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
    }

    @at-root #{&}--input-invalid {
        border-color: $red;
        box-shadow: 0 0 0 px(1) $red;

        & + .rsvp__label {
            font-size: px(12);
            color: $red;
            transform: translateY(px(-9));
            bottom: auto;
        }

        &:focus {
            & + .rsvp__label  {
                color: $primary;
            }
        }
    }

    @at-root #{&}--input-valid {

        & + .rsvp__label {
            font-size: px(12);
            transform: translateY(px(-9));
            bottom: auto;
        }
    }

    @at-root #{&}--col-submit {
        text-align: center;

        .btn {
            margin: 0 px(10);
        }
    }

    @at-root #{&}--col-to-show {
        display: none;
    }

    @at-root #{&}--col-guests {
        display: none;
    }

    @at-root #{&}--form-valid-user {

        .rsvp--col-check {
            display: none;
        }

        .rsvp--col-to-show {
            display: block;
        }

        &.rsvp--form-with-guests {
            .rsvp--col-guests {
                display: block;
            }   
        }
    }

    @at-root #{&}--success {
        padding-bottom: px(100);

        @include media(screen,max,666px) {
            padding-bottom: px(70);
        }

        .rsvp__form {
            height: 0px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 500ms, height 0s 500ms, opacity 500ms linear;
            overflow: hidden;
        }

        .rsvp--copy {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s 0s, opacity 500ms linear;
        }
    }
}