/**
 RSVP
**/

.rsvp {
    background-color: $primaryLight;
    padding-top: px(77);
    padding-bottom: px(70);

    @include media(screen,max,666px) {
        padding-top: px(37);
        padding-bottom: px(40);
    }

    //-- ELEMENT: Label
    @at-root #{&}__inner {
        max-width: px(400);
        width: 100%;
    }

    //-- ELEMENT: Label
    @at-root #{&}__form {
        width: 100%;
    }

    //-- ELEMENT: Label
    @at-root #{&}__col {
        width: 100%;
        margin-bottom: px(10);
    }

    //-- ELEMENT: Label
    @at-root #{&}__label {
        display: block;
        font-family: $font-2;
        font-size: px(14);
        line-height: px(18);
        text-transform: uppercase;
        margin: 0 0 px(10);
        letter-spacing: px(0.5);
    }

    //-- ELEMENT: Input
    @at-root #{&}__input {
        border: px(1) solid $primaryMedium;
        border-radius: 0;
        outline: none;
        font-family: $font-1;
        font-size: px(14);
        line-height: px(18);
        letter-spacing: px(0.5);
        height: px(40);
        width: 100%;
        padding: 0 px(10);

        &:focus {
            border-color: $primary;
        }
    }

    //-- ELEMENT: Select
    @at-root #{&}__select {
        -webkit-appearance: none;
        border: px(1) solid $primaryMedium;
        border-radius: 0;
        background: #fff;
        outline: none;
        font-family: $font-1;
        font-size: px(14);
        line-height: px(18);
        letter-spacing: px(0.5);
        height: px(40);
        width: 100%;
        padding: 0 px(10);

        &:focus {
            border-color: $primary;
        }
    }

    @at-root #{&}--col-6 {
        width: 50%;
        padding: 0 px(5) 0 0;

        & + .rsvp--col-6 {
            padding: 0 0 0 px(5);
        }
    }

    @at-root #{&}--copy {
        position: absolute;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
    }

    @at-root #{&}--input-invalid {
        border-color: $red;
        border-width: px(2);
    }

    @at-root #{&}--col-submit {
        padding: px(20) 0 0;
        text-align: center;

        .btn {
            margin: 0 px(10);
        }
    }

    @at-root #{&}--col-to-show {
        display: none;
    }

    @at-root #{&}--col-guests {
        display: none;
    }

    @at-root #{&}--form-invalid-user {

        .copy--error-unknown {
            opacity: 1;
            visibility: visible;
            transition: visibility 0s 500ms, opacity 500ms linear;
        }
    }

    @at-root #{&}--form-valid-user {

        .rsvp--col-check {
            display: none;
        }

        .rsvp--col-to-show {
            display: block;
        }

        &.rsvp--form-with-guests {
            .rsvp--col-guests {
                display: block;
            }   
        }
    }

    @at-root #{&}--success {
        padding-bottom: px(100);

        @include media(screen,max,666px) {
            padding-bottom: px(70);
        }

        .rsvp__form {
            height: 0px;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 500ms, height 0s 500ms, opacity 500ms linear;
            overflow: hidden;
        }

        .rsvp--copy {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s 0s, opacity 500ms linear;
        }
    }
}