/**
 RSVP
**/

.rsvp {
    background-color: $primaryLight;
    padding-top: px(77);
    padding-bottom: px(70);

    @include media(screen,max,666px) {
        padding-top: px(37);
        padding-bottom: px(40);
    }

    //-- ELEMENT: Label
    @at-root #{&}__inner {
        max-width: px(400);
        width: 100%;
    }

    //-- ELEMENT: Label
    @at-root #{&}__form {
        width: 100%;
    }

    //-- ELEMENT: Label
    @at-root #{&}__col {
        margin-bottom: px(10);
    }

    //-- ELEMENT: Label
    @at-root #{&}__label {
        display: block;
        font-family: $font-2;
        font-size: px(14);
        line-height: px(18);
        text-transform: uppercase;
        margin: 0 0 px(10);
        letter-spacing: px(0.5);
    }

    //-- ELEMENT: Input
    @at-root #{&}__input {
        border: px(1) solid $primaryMedium;
        border-radius: 0;
        outline: none;
        font-family: $font-1;
        font-size: px(14);
        line-height: px(18);
        letter-spacing: px(0.5);
        height: px(40);
        width: 100%;
        padding: 0 px(10);

        &:focus {
            border-color: $primary;
        }
    }

    @at-root #{&}--copy {
        position: absolute;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
    }

    @at-root #{&}--success {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s 0s, opacity 500ms linear;
    }

    @at-root #{&}--form-hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 500ms, opacity 500ms linear;
    }

    @at-root #{&}--input-invalid {
        border-color: $red;
        border-width: px(2);
    }
}