/**
 Venue
**/

.venue {

    .title {
        width: 100%;
    }

    @at-root #{&}__slider {
        position: relative;
        z-index: 0;
    }

    @at-root #{&}__main {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    @at-root #{&}__main-inner {
        background-color: rgba(#fff,0.7);
        padding: px(40);
        width: px(300);
    }

    @at-root #{&}__map {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        visibility: hidden;
        opacity: 0;

        iframe {
            width: 100%;
            height: 100%;;
        }
    }

    @at-root #{&}--map-open {

        .venue__map {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s 0s, opacity 500ms linear;
        }
    }

    &.visible {
        .img {
            // animation: imgScale 1800ms ease-out;
        }
    }
}