/**
 Venue
**/

.venue {

    .title {
        width: 100%;
    }

    @at-root #{&}__slider {
        position: relative;
        z-index: 0;
    }

    @at-root #{&}__main {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}