<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />

    <title>The Wedding of Nira and Marc</title>

    <meta name="description" content="The Wedding of Nira and Marc will be held in Palais Coburg Vienna, 8th June 2018." />
    <meta name="keywords" content="wedding,vienna,austria,marc,nira,palais,coburg" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Open+Sans:400,600" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="wrapper">
        <header id="header" class="header" role="banner">
            <div class="header__inner flex">
                <button type="button" class="btn btn--burger trans--all trans--ease-in-out trans--all-before-after">
                    <span class="btn__burger-icon trans--all-before-after">Navigation</span>
                </button>

                <!-- build:include /components/header/primary-nav.html -->
                <!-- /build -->
            </div>
        </header>


        <main id="main" class="main" role="main">
            <!-- build:include /components/main/hero.html -->
            <!-- /build -->

            <!-- build:include /components/main/ceremony.html -->
            <!-- /build -->

            <!-- build:include /components/main/countdown.html -->
            <!-- /build -->

            <!-- build:include /components/main/venue.html -->
            <!-- /build -->

            <!-- build:include /components/main/people.html -->
            <!-- /build -->

            <!-- build:include /components/main/rsvp1.html -->
            <!-- /build -->

            <!-- build:include /components/main/gift.html -->
            <!-- /build -->

            <!-- build:include /components/main/map.html -->
            <!-- /build -->
        </main>

        <footer id="footer" class="footer flex flex--justify-center flex--align-center flex--nowrap" role="contentinfo">
            <div class="footer__inner">
                <!-- build:include /components/footer/footer.html -->
                <!-- /build -->
            </div>
        </footer>
    </div>

    <form id="rsvp-form" class="rsvp__form" action="/" method="post">
        <div class="rsvp__col">
            <label class="rsvp__label" for="rsvp-lastname">Last Name:</label>
            <input type="text" class="rsvp__input trans--all" id="rsvp-lastname">
        </div>
        <div class="rsvp__col rsvp--col-submit rsvp--col-check">
            <button type="button" id="checkNameBtn" class="btn btn--ghost trans--all">Next</button>
            <span class="error-msg error-msg--no-entry">We are sorry, we can't find you in our Guestlist! <br>Please check if your last name is correct and try again.</span>
        </div>

        <div class="rsvp__col rsvp--col-to-show">
            <label class="rsvp__label" for="rsvp-name">Name:</label>
            <input type="text" class="rsvp__input trans--all" id="rsvp-name">
        </div>
        <div class="rsvp__col rsvp--col-to-show">
            <label class="rsvp__label" for="rsvp-email">E-Mail:</label>
            <input type="email" class="rsvp__input trans--all" id="rsvp-email">
        </div>
        <div class="rsvp__col rsvp--col-guests">
            <label class="rsvp__label" for="rsvp-guests">Number of guests:</label>
            <select class="rsvp__select trans--all" id="rsvp-guests">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="rsvp__col rsvp--col-to-show rsvp--col-submit flex flex--justify-center">
            <button type="button" id="rsvpBackBtn" class="btn btn--ghost btn--ghost-transparent trans--all">Cancel</button>
            <input type="submit" class="btn btn--ghost trans--all" id="rsvp-submit" value="Submit">
        </div>
    </form>

    <input type="text" id="testField">
    <button type="button" id="testBtn" class="btn btn--ghost">Submit</button>

    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    <script src="js/script.js" type="text/javascript" async></script>

    <script src="//localhost:35729/livereload.js"></script>
</body>

</html>