<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />

    <title>The Wedding of Nira and Marc</title>

    <meta name="description" content="The Wedding of Nira and Marc will be held in Palais Coburg Vienna, 8th June 2018." />
    <meta name="keywords" content="wedding,vienna,austria,marc,nira,palais,coburg" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <script src="//localhost:35729/livereload.js"></script>

</head>

<body>

    <div class="warpper">
        <header id="header" class="header" role="banner">
            <div class="header__inner flex">
                <!-- build:include /components/header/primary-nav.html -->
                <!-- /build -->
            </div>
        </header>


        <main id="main" class="main" role="main">
            <!-- build:include /components/main/hero.html -->
            <!-- /build -->

            <!-- build:include /components/main/ceremony.html -->
            <!-- /build -->

            <!-- build:include /components/main/countdown.html -->
            <!-- /build -->

            <!-- build:include /components/main/people.html -->
            <!-- /build -->

            <!-- build:include /components/main/venue.html -->
            <!-- /build -->

            <!-- build:include /components/main/rsvp.html -->
            <!-- /build -->
        </main>

        <footer id="footer" class="footer" role="contentinfo">

        </footer>
    </div>

    <script src="js/script.js" type="text/javascript" async></script>

</body>

</html>