<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#29b6f6" />

    <title>The Wedding of Nira and Marc | Food Menu</title>

    <meta name="description" content="Our food menu for our wedding." />
    <meta name="keywords" content="wedding,vienna,austria,marc,nira,palais,coburg" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Open+Sans:400,600" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="assets/favicon/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="assets/favicon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="assets/favicon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="assets/favicon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16.png">
	<link rel="apple-touch-icon" href="assets/favicon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/favicon-180.png">

    <link rel="manifest" href="/assets/manifest.json">
</head>

<body>
    <!-- build:remove:dev -->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFWBQQH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- /build -->

    <div class="wrapper">
        <header id="header" class="header" role="banner">
            <div class="header__inner flex">
                <button type="button" class="btn btn--burger trans--all trans--ease-in-out trans--all-before-after">
                    <span class="btn__burger-icon trans--all-before-after">Navigation</span>
                </button>

                <!-- build:include /components/header/primary-nav.html -->
                <!-- /build -->

                <!-- build:css inline -->
                <link rel="stylesheet" type="text/css" href="../../public/css/nav.css" />
                <!-- /build -->
            </div>
        </header>


        <main id="main" class="main" role="main">
            <!-- build:include /components/main/menu_content.html -->
            <!-- /build -->
        </main>

        <footer id="footer" class="footer flex flex--justify-center flex--align-center flex--nowrap" role="contentinfo">
            <div class="footer__inner">
                <!-- build:include /components/footer/footer.html -->
                <!-- /build -->
            </div>
        </footer>
    </div>

    <script src="js/script.js" type="text/javascript" async></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
    <script>
        // Initialize Firebase
        const config = {
            
        };
        firebase.initializeApp(config);
        const timestamp = firebase.firestore.FieldValue.serverTimestamp();
        // Initialize Firestore
        const db = firebase.firestore();
        const firestoreSettings = { timestampsInSnapshots: true };
        db.settings(firestoreSettings);
    </script>

    <!-- build:remove:dev -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NFWBQQH');</script>
    <!-- End Google Tag Manager -->
    <!-- /build -->
    
    <!-- build:remove:dev -->
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/' });
        }
    </script>
    <!-- /build -->

    <!-- build:remove:prod -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- /build -->
</body>

</html>