<nav class="nav nav--primary trans--all trans--ease-in-out" role="navigation">
    <ul class="nav__list nav--list-primary flex">
        <li class="nav__list-item">
            <a href="#" class="nav__list-link nav--list-link-active">
                <span class="nav__list-link-txt trans--all-before-after">Ceremony</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#" class="nav__list-link">
                <span class="nav__list-link-txt trans--all-before-after">People</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#" class="nav__list-link">
                <span class="nav__list-link-txt trans--all-before-after">Venue</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#" class="nav__list-link">
                <span class="nav__list-link-txt trans--all-before-after">Menu</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#" class="nav__list-link">
                <span class="nav__list-link-txt trans--all-before-after">RSVP</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#" class="nav__list-link">
                <span class="nav__list-link-txt trans--all-before-after">Gift Regristration</span>
            </a>
        </li>
    </ul>
</nav>