<nav class="nav nav--primary" role="navigation">
    <ul class="nav__list nav--list-primary flex">
        <li class="nav__list-item">
            <a href="#home" class="nav__list-link" data-target-id="home">
                <span class="nav__list-link-txt trans--all-before-after">Home</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#ceremony" class="nav__list-link" data-target-id="ceremony">
                <span class="nav__list-link-txt trans--all-before-after">Ceremony</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#venue" class="nav__list-link" data-target-id="venue">
                <span class="nav__list-link-txt trans--all-before-after">Venue</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#people" class="nav__list-link" data-target-id="people">
                <span class="nav__list-link-txt trans--all-before-after">People</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#rsvp" class="nav__list-link" data-target-id="rsvp">
                <span class="nav__list-link-txt trans--all-before-after">RSVP</span>
            </a>
        </li>
        <li class="nav__list-item">
            <a href="#gift-registration" class="nav__list-link" data-target-id="gift-registration">
                <span class="nav__list-link-txt trans--all-before-after">Gift Regristration</span>
            </a>
        </li>
    </ul>
</nav>