<section class="container ceremony">
    <h3 class="title title--secondary-medium">We joyfully invite you to share in our happiness at our wedding celebration of</h3>
    <div class="couple flex">
        <div class="couple__col">
            <div class="profile__img">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Nira" class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">The Bride</h3>
            <h2 class="title title--primary-medium">Nira Saraswati D.</h2>
        </div>
        <div class="couple__col">
            <div class="profile__img">
                <noscript class="res-data" data-srcset="img/marc.jpg 0w" data-lazy="true">
                    <img src="img/marc.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Marc" class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">The Groom</h3>
            <h2 class="title title--primary-medium">Marc Andrew SB.</h2>
        </div>
    </div>
</section>