<section class="container drinks-foods">
    <h1 class="title title--secondary-large title--underline title--space">Coffee Places</h1>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Café Hawelka</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee, Dessert</p>
            <p class="copy">Just for the old Viennese atmosphere and "<a
                    href="https://en.wikipedia.org/wiki/Wiener_Melange" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">Mélange</a>" coffee - the cafe is next to the shopping
                street "Graben" They also serves fresh "<a href="https://en.wikipedia.org/wiki/Buchteln"
                    class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">Buchteln</a>" sometimes (usually later in the day), which are sweet
                rolls filled with plum jam). People are still allowed to smoke here so keep that in mind when you go.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Dorotheergasse 6, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/PYAEozosL7E2" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Thu / 8am - 12am <br>
                Fri - Sat / 8am - 1am <br>
                Sun / 10am - 12am <br>
                <br>
                Website: <a href="http://www.hawelka.at/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">http://www.hawelka.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Café Heiner</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee, Breakfast, Dessert</p>
            <p class="copy">This is another great dessert and coffee place located in a great spot in the center of the
                shopping area.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Kärntnerstraße 21-23, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/RkAJKZcG2J32" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sat / 8.30am - 7.30pm <br>
                Sun / 10am - 7.pm <br>
                <br>
                Website: <a href="http://www.heiner.co.at/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">http://www.heiner.co.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Kurkonditorei OBERLAA</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee, Cakes, Dessert</p>
            <p class="copy">Cake and coffee, their <a
                    href="https://www.deliaonline.com/recipes/international/european/french/a-very-chocolatey-mousse"
                    class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">Schokomousse</a> cake and <a
                    href="https://www.austria.info/uk/things-to-do/food-and-drink/favourite-austrian-recipes/wachauer-marillenknoedel"
                    class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">Marillenknödel</a> or <a
                    href="https://www.kaesemacher.at/en/recipes/desserts/sheep-s-milk-curd-cheese-dumplings-berry-ragout"
                    class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">Topfenknödel</a> with whipped
                cream are amazing.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Neuer Markt 10-11, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/NiKho67eGg32" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sun / 8am - 8pm <br>
                <br>
                Website: <a href="https://www.oberlaa-wien.at/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">https://www.oberlaa-wien.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Café Museum</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee, Kaiserschmarrn</p>
            <p class="copy">I personally love their <a href="https://en.wikipedia.org/wiki/Kaiserschmarrn"
                    class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">Kaiserschmarrn</a> which I recommend having (Kaiserschmarrn is an
                Austrian
                dessert that can also be eaten as a main dish, usually on Fridays where you would either have fish or
                Kaiserschmarrn)
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Operngasse 7, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/qW1pA41Jjyp" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sun / 8am - 12am <br>
                <br>
                Website: <a href="https://www.cafemuseum.at/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">https://www.cafemuseum.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Café Central</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee, Live Piano Music</p>
            <p class="copy">It is beautiful but very touristy (live piano music 5-10 pm). Afterwards, you have to walk
                down the Franciskaner passage nearby.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Herrengasse 14, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/MbiFCVj8vTF2" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sat / 7.30am - 10pm <br>
                Sun / 10am - 10pm <br>
                <br>
                Website: <a href="https://www.cafecentral.wien/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">https://www.cafecentral.wien/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Café Prückel</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee, Food</p>
            <p class="copy">Typical style of the 1950s, more local than Café Central. Traditional cafes in Vienna will
                have old men as waiters. Live piano music on Monday, Wednesday, and Friday after 7pm.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Stubenring 24, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/3VMwrAas4bG2" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sun / 8.30am - 10pm <br>
                <br>
                Website: <a href="http://www.prueckel.at/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">http://www.prueckel.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Kleines Café</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee</p>
            <p class="copy">The smallest café which so much character. I only managed to get a seat there once because
                of its size it is usually always full.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Franziskanerpl. 3, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/g6Ehpjftfwp" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sun / 10am - 2am
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Balthasar</h3>
            <p class="copy copy--small copy--italic copy--grey">Coffee, Hipster</p>
            <p class="copy">A new hipster cafe place.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Praterstraße 38, <br>
                1020 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/VSTNQXEo8982" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Fri / 7.30am - 7pm <br>
                Sat / 9am - 5pm <br>
                <br>
                Website: <a href="http://balthasar.at/" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">http://balthasar.at/</a>
            </address>
        </div>
    </div>

    <p class="copy copy--center"><strong>Fun fact:</strong> The famous French pastry croissant actually has Viennese
        origins. They are
        based on the Austrian kipferl, which means crescent in German. Bakers in Vienna made kipferl to commemorate
        Austria’s victory over the Ottoman Turks in 1683, their shape based on the crescents seen on the uniform of the
        enemy. In 1770, when Maria Antoinette of Austria married King Louis XVI of France, she introduced her favorite
        pastry to France. The French made a few changes, and called it a croissant.</p>
</section>