<section class="container container--slidein container--line coffee-places" data-section-id="coffee-places">
    <h3 class="title title--secondary-medium title--bold title--space">Coffee Places</h3>

    <p class="copy copy--center">The coffee culture played an important part in Viennese history and is part of our
        heritage. In 2011 the <a href="https://en.wikipedia.org/wiki/Viennese_coffee_house" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
        rel="noopener noreferrer">Viennese coffe</a> houses were put on the UNESCO’s Intangible Cultural Heritages. Viennese
        people drink Mélange – you should try one at one of the below cafes.</p>

    <p class="copy copy--center"><strong>Fun fact:</strong> <a href="https://en.wikipedia.org/wiki/Cappuccino" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
        rel="noopener noreferrer">Cappuccinos</a> first popped up as the 'Kapuziner' in Viennese coffee houses in
        the 1700s. A description of the 'Kapuziner' from 1805 described it as "coffee with cream and sugar", and a
        description of the drink from 1850 adds "spices" to the recipe. Either way, these drinks had a brown color
        similar to the robes worn by the Capuchin ('Kapuzin') friars in Vienna, and this is where their name came from.
    </p>

    <div class="flex flex--align-center content__main">
        <div class="gs gs--col-4 gs--col-2-s">
            <div class="">
                <noscript class="res-data" data-srcset="img/coffee.jpg 0w" data-lazy="true">
                    <img src="img/coffeee.jpg" alt="Coffee" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Coffee"
                    class="img res-img trans--all">
            </div>
        </div>
        <div class="gs gs--no-paddings gs--col-8 gs--col-2-s restaurants__list">
            <div class="flex flex--align-stretch">
                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Café Hawelka</strong> in Dorotheergasse 6 <br>
                            <span class="copy--grey copy--caps copy--small">Coffee and Buchteln</span></p>
                    </div>
                </div>

                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Café Heiner</strong> in Kärntnerstraße 21-23 <br>
                            <span class="copy--grey copy--caps copy--small">Coffee and Dessert</span></p>
                    </div>
                </div>
            </div>

            <div class="flex flex--align-stretch">
                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Kurkonditorei OBERLAA</strong> in Operngasse 7 <br>
                            <span class="copy--grey copy--caps copy--small">Coffee and Cake</span></p>
                    </div>
                </div>

                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Café Museum</strong> in Leopoldsgasse 17 <br>
                            <span class="copy--grey copy--caps copy--small">Coffee and Kaiserschmarrn</span></p>
                    </div>
                </div>
            </div>

            <div class="flex flex--align-stretch">
                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Café Central</strong> in Herrengasse 14 <br>
                            <span class="copy--grey copy--caps copy--small">Coffee and Live Piano Music</span></p>
                    </div>
                </div>

                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Café Prückel</strong> in Stubenring 24 <br>
                            <span class="copy--grey copy--caps copy--small">Coffee and Food</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex--justify-center btn__wrapper">
        <a href="coffee-places.html" class="btn btn--ghost">View more Coffee Places</a>
    </div>
</section>