<section class="container cookie-policy">
    <h1 class="title title--secondary-large title--underline title--space">Cookie Policy</h2>

        <h2 class="title title--secondary-small title--left title--space">What are cookies?</h2>
        <p class="copy">Cookies are small pieces of information which are issued to your computer when you visit our
            website and which store and sometimes track information about your use of our site.</p>

        <h2 class="title title--secondary-small title--left title--space">Why do we use cookies?</h2>
        <p class="copy">We use cookies to elevate your user experience and the quality of our site. It help us improve
            the site by measuring any errors which occur during your browsing experience.</p>

        <h2 class="title title--secondary-small title--left title--space">Manage your cookie preferences</h2>
        <p class="copy">Your browser is where your cookie information is stored. Each browser has a different method
            for you to delete cookies or edit your privacy settings. The following <a href="http://www.allaboutcookies.org/"
                target="_blank" rel="noopener" class="btn btn--txt trans--all">resource</a> offers you simple guides on
            how to remove cookies from each browser.</p>
</section>