<section class="container container--slidein countdown" data-section-id="countdown">
    <h4 class="title title--secondary-large title--underline">We'll tie the knot in ...</h4>
    <div class="countdown__timer flex flex--justify-center">
        <div class="countdown__time days"></div>
        <div class="countdown__time hrs"></div>
        <div class="countdown__time mins"></div>
        <div class="countdown__time secs"></div>
    </div>
    <div class="countdown__labels flex flex--justify-center">
        <div class="countdown__label">Days</div>
        <div class="countdown__label">Hrs</div>
        <div class="countdown__label">Min</div>
        <div class="countdown__label">Sec</div>
    </div>
</section>