<section class="container experiences">
    <h1 class="title title--secondary-large title--underline title--space">Experiences and Sights</h1>

    <h2 class="title title--secondary-small title--left title--space">Restaurants</h2>

    <div class="flex content__main">
        <div class="gs gs--col-4 gs--col-2-s">
            img
        </div>
        <div class="gs gs--col-4 gs--col-2-s">
            List
        </div>
        <div class="gs gs--col-4 gs--col-2-s">
            List
        </div>
    </div>

</section>