<section class="container experiences">
    <h1 class="title title--secondary-large title--underline title--space">Experiences and Sights</h1>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Stephansplatz &amp; Stephansdom</h3>
            <p class="copy copy--small copy--italic copy--grey">City Centre, Historical, Church, Café, Shopping</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-7.jpg 0w" data-lazy="true">
                    <img src="img/experience-7.jpg" alt="Experience 8" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 8"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">The Stephansplatz is one of the most important squares in the city centre of Vienna is
                Stephansplatz. It has a place in the hearts and history of the people of the city that is not forgotten
                and always apparent.</p>

            <p class="copy">The Stephansdom, also known for St. Stephen's Cathedral, is Vienna’s Gothic masterpiece and
                pride. From outside you will see the glorious tiled roof, with its dazzling row of chevrons and
                Austrian eagle. Inside, the magnificent Gothic stone pulpit presides over the main nave, fashioned in
                1515 by Anton Pilgrim.
            </p>
            <p class="copy">
                If you have time, go and see the gigantic view across Vienna from the tollest south tower at 136.44
                meters, is reached via 343 steps.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Stephansplatz 1, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/gSbtB1EVJnu" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View on Google Map</a><br>
                <br>
                Hours Stephansdom: <br>
                Mon - Fri / 9am - 6pm <br>
                Sat - Sun / 9.30am - 6pm <br>
                <br>
                Website: <a href="https://www.stephanskirche.at/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">https://www.stephanskirche.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Schönbrunn</h3>
            <p class="copy copy--small copy--italic copy--grey">Museum, Park, Zoo</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-1.jpg 0w" data-lazy="true">
                    <img src="img/experience-1.jpg" alt="Experience 1" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 1"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">You can go in but I would walk up the hill and see the view from the top, maybe have a
                coffee in the beautiful café the Glorietta. The worlds oldest Zoo is in Schönbrunn which was once a
                private menagerie of emperor Franz Stephan and Maria Theresa.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Schönbrunner Schloßstraße 47, <br>
                1130 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/YpvGVaHjKUU2" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sun / 6.30am - 9pm <br>
                <br>
                Website: <a href="https://www.schoenbrunn.at/en/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">https://www.schoenbrunn.at/en/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Belvedere Palace and Museum</h3>
            <p class="copy copy--small copy--italic copy--grey">Museum</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-2.jpg 0w" data-lazy="true">
                    <img src="img/experience-2.jpg" alt="Experience 2" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 2"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">This has Klimt’s paintings of which the “Kiss” is the most famous</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Prinz Eugen-Straße 27, <br>
                1030 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/MRVCn1WMzT42" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sun / 9am - 6pm <br>
                <br>
                Website: <a href="https://www.belvedere.at/en" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">https://www.belvedere.at/en</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Secession</h3>
            <p class="copy copy--small copy--italic copy--grey">Art, Architecture</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-3.jpg 0w" data-lazy="true">
                    <img src="img/experience-3.jpg" alt="Experience 3" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 3"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">Established 1987 by artists and still run by artists. The art there is cutting edge so not
                everyones cup of tea. I would recommend to check what exhibitions they currently have on.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Friedrichstraße 12, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/NtLwonLKtyB2" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Tue - Sun / 10am - 6pm <br>
                <br>
                Website: <a href="https://www.secession.at/en/" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">https://www.secession.at/en/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Albertina Museum</h3>
            <p class="copy copy--small copy--italic copy--grey">Art, Museum</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-4.jpg 0w" data-lazy="true">
                    <img src="img/experience-4.jpg" alt="Experience 4" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 4"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">Is a beautiful art museum behind the Sacher hotel. If you like art, you must visit it, and
                then walk down the Burggarten on the left of it, and maybe sit in the Palmenhaus cafe for a glass a
                wine or coffee.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Albertinaplatz 1, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/NWhcrn25VQ82" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Daily / 10am - 6pm <br>
                Wed & Fri / 10am - 9pm
                <br>
                Website: <a href="https://www.albertina.at/en/" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">https://www.albertina.at/en/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Burggarten &amp; Palmenhaus</h3>
            <p class="copy copy--small copy--italic copy--grey">Garden, Café, Drinks, Lunch, Dinner</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-5.jpg 0w" data-lazy="true">
                    <img src="img/experience-5.jpg" alt="Experience 5" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 5"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">From the Albertina Museum walk down to the Burggarten and maybe sit in the Palmenhaus cafe
                for a glass a
                wine or coffee. The Palmenhaus is a former tropical house overlooking a large pond with upscale dining
                & drinking options.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Burggarten 1, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/NWhcrn25VQ82" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Wed - Thu / 11am - 11pm <br>
                Fri / 10am - 12am <br>
                Sat / 9am - 12am <br>
                Sun / 9am - 10pm <br>
                <br>
                Website: <a href="http://www.palmenhaus.at/content/en/palmenhaus_en" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank" rel="noopener noreferrer">http://www.palmenhaus.at/content/en/palmenhaus_en</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">National Library</h3>
            <p class="copy copy--small copy--italic copy--grey">Museum, Culture</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-6.jpg 0w" data-lazy="true">
                    <img src="img/experience-6.jpg" alt="Experience 6" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 6"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">The Austrian National Library (German: Österreichische Nationalbibliothek) is the largest
                library in Austria, with more than 12 million items in its various collections. The library is located
                in the Neue Burg Wing of the Hofburg in center of Vienna.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Josefsplatz 1, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/qBQYJXyUjJR2" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Fri / 9am - 9pm <br>
                <br>
                Website: <a href="https://www.onb.ac.at/en/library/library-at-heldenplatz/about-the-library-at-heldenplatz"
                    class="btn btn--txt btn--txt-primary trans--all" target="_blank" rel="noopener noreferrer">https://www.onb.ac.at/en/library/library-at-heldenplatz/about-the-library-at-heldenplatz</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Natural History Museum</h3>
            <p class="copy copy--small copy--italic copy--grey">Museum</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-7.jpg 0w" data-lazy="true">
                    <img src="img/experience-7.jpg" alt="Experience 7" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 7"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">The Naturhistorisches Museum covers four billion years of natural history in a blink. With
                its exquisitely stuccoed, frescoed halls and eye-catching cupola, this late-19th-century building is
                the identical twin of the Kunsthistorisches Museum opposite.
            </p>
            <p class="copy">
                Among its minerals, fossils and dinosaur bones are one-of-a-kind finds like the minuscule
                25,000-year-old Venus von Willendorf and a peerless
                1100-piece meteorite collection. Panoramic rooftop tours take you onto the building's roof to view the
                ornate architecture up-close.
            </p>

            <p class="copy">We do recommend popping by the Natural History Museum.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Burgring 7, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/uR7viBduqR12" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon / 9am - 6.30pm <br>
                Tue / Closed <br>
                Wed / 9am - 9pm <br>
                Thu - Sun / 9am - 6.30pm <br>
                <br>
                Website: <a href="hhttps://www.nhm-wien.ac.at" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">hhttps://www.nhm-wien.ac.at</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">Kunsthistorisches Museum</h3>
            <p class="copy copy--small copy--italic copy--grey">Museum</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-7.jpg 0w" data-lazy="true">
                    <img src="img/experience-7.jpg" alt="Experience 7" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 7"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">The Kunsthistorisches Museum is an art museum and it is housed in its festive palatial
                building on Ringstrasse, it is crowned with an octagonal dome.
            </p>
            <p class="copy">
                The term Kunsthistorisches Museum applies to both the institution and the main building.
                It is the largest art museum in the country and it takes you on a time-travel treasure hunt from
                Classical Rome to Egypt and the Renaissance.
            </p>
            <p class="copy">
                If your time's limited, skip straight to the Picture Gallery, where you'll want to dedicate at least an
                hour or two to Old Masters.
            </p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Maria-Theresien-Platz, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/zBQoihEwkNB2" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Tue - Sun / 10am - 6pm <br>
                Thu / 10am - 9pm <br>
                <br>
                Website: <a href="https://www.khm.at/en/" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">https://www.khm.at/en/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left">MuseumsQuartier</h3>
            <p class="copy copy--small copy--italic copy--grey">Museum, Café, Hang Out</p>

            <div class="img__container img__ratio img--ratio-16x9">
                <noscript class="res-data" data-srcset="img/experience-9.jpg 0w" data-lazy="true">
                    <img src="img/experience-9.jpg" alt="Experience 9" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Experience 9"
                    class="img res-img img--fade-in">
            </div>

            <p class="copy">The MuseumsQuartier is a remarkable ensemble of museums, cafes, restaurants and bars inside
                former imperial stables
                designed by Fischer von Erlach.
            </p>
            <p class="copy">
                This breeding ground of Viennese cultural life is the perfect place to
                hang out
                and watch or meet people on warm evenings. With over 90,000 sq metres of exhibition space – including
                the Leopold Museum, MUMOK, Kunsthalle, Architekturzentrum and Zoom – the complex is one of the world’s
                most ambitious cultural hubs.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Museumsplatz 1, <br>
                1070 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/KRQzZaWduer" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">View
                    on Google Map</a><br>
                <br>
                Website: <a href="https://www.mqw.at/" class="btn btn--txt btn--txt-primary trans--all" target="_blank"
                    rel="noopener noreferrer">https://www.mqw.at/</a>
            </address>
        </div>
    </div>
</section>