<section class="container experiences">
    <h1 class="title title--secondary-large title--underline title--space">Experiences and Sights</h1>

    <h2 class="title title--secondary-small title--left title--space">Restaurants</h2>

    <div class="flex content__main">
        <div class="gs gs--col-4 gs--col-2-s">
            img
        </div>
        <div class="gs gs--col-4 gs--col-2-s">
            <div class="restaurant__item">
                <p class="copy copy--secondary"><strong>Plachutta an der Oper</strong> in Walfischgasse 5, 1010 Vienna</p>
            </div>
            <div class="restaurant__item">
                <p class="copy copy--secondary"><strong>Figlmüller</strong> in Bäckerstraße 6, 1010 Vienna</p>
            </div>
            <div class="restaurant__item">
                <p class="copy copy--secondary"><strong>Steiereck</strong> in Am Heumarkt 2A, 1030 Vienna</p>
            </div>
        </div>
        <div class="gs gs--col-4 gs--col-2-s">
            <div class="restaurant__item">
                <p class="copy copy--secondary"><strong>Skopik und Lohn</strong> in Leopoldsgasse 17, 1020 Vienna</p>
            </div>
            <div class="restaurant__item">
                <p class="copy copy--secondary"><strong>Fabios</strong> in Tuchlauben 4-6, 1010 Vienna</p>
            </div>
            <div class="restaurant__item">
                <p class="copy copy--secondary"><strong>Gasthaus Wickerl</strong> in Porzellangasse 24a, 1090 Vienna</p>
            </div>
        </div>
    </div>

</section>