<section class="container container--slidein gifts" data-section-id="gift-registration">
    <h2 class="title title--secondary-large title--underline">Registry</h2>
    <p class="copy copy--center copy--sub">The best present you cold possibly give us is the celebration of our marriage. 
        <br>But if you'd like to spoil us, we've picked out a few items or contribute to our dream honeymoon.</p>

    <div class="gifts__btns">
        <a href="https://www.weddingshop.com/Buy/View/50940" target="_blank" class="btn btn--ghost trans--all">Browse our list</a>
    </div>
</section>