<section class="container container--slidein gifts" data-section-id="gift-registration">
    <h2 class="title title--secondary-large title--underline">Registry</h2>
    <p class="copy copy--center copy--sub">The best present you could possibly give us is attending our wedding. 
        <br>But if you'd like to spoil us, we've picked out a few items or contribute to our dream honeymoon.</p>

    <div class="gifts__btns flex flex--justify-center">
        <a href="https://www.weddingshop.com/Buy/View/50940" target="_blank" rel="noopener" class="btn btn--ghost btn--width-big btn--margin trans--all">Honeymoon</a>
        <a href="https://www.amazon.co.uk/wedding/marc-san-buenaventura-nira-dejust-vienna-june-2019/registry/1XFJXYDZOTFN1" target="_blank" rel="noopener" class="btn btn--ghost btn--width-big btn--margin trans--all">Gift list</a>
    </div>
</section>