<section class="container container--slidein people people--grooms" data-section-id="grooms">
    <h2 class="title title--secondary-large title--underline">Groomsmen</h2>

    <div class="people__list people--list-groomsmen flex flex--justify-center">
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/andreas.jpg 0w" data-lazy="true">
                    <img src="img/andreas.jpg" alt="Andreas" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Andreas"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Andreas</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/jon.jpg 0w" data-lazy="true">
                    <img src="img/jon.jpg" alt="Jon" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jon"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Jon</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/mike.jpg 0w" data-lazy="true">
                    <img src="img/mike.jpg" alt="Mike" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Mike"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Michael W.</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/abhilash.jpg 0w" data-lazy="true">
                    <img src="img/abhilash.jpg" alt="Abhilash" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Abhilash"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Abhilash</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/jonathan.jpg 0w" data-lazy="true">
                    <img src="img/jonathan.jpg" alt="Jonathan" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jonathan"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Jonathan</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/alejandro.jpg 0w" data-lazy="true">
                    <img src="img/alejandro.jpg" alt="Alejandro" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Alejandro"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Alejandro</h2>
        </div>
    </div>
</section>