<section class="container container--full hero">
    <div class="img__container" data-section-id="hero">
        <noscript class="res-data" data-srcset="img/nira-marc_hero-s.jpg 0w, img/nira-marc_hero-m.jpg 667w, img/nira-marc_hero-l.jpg 1024w" data-lazy="true">
            <img src="img/nira-marc_hero-l.jpg" alt="Nira and Marc" class="img">
        </noscript>
        <img src="img/ph-hero-l.gif" alt="Nira and Marc" class="img res-img trans--all">
    </div>

    <div class="hero__main flex flex--justify-center flex--align-center">
        <div class="hero__main-inner">
            <h1 class="title title--hero">
                <span class="title__top">The Wedding Celebration of</span>
                <span class="title__main">Nira <span class="title__big">&amp;</span> Marc</span>
            </h1>
            <p class="hero__copy">June 8, 2019 in Vienna</p>
        </div>
    </div>

    <button class="btn btn--scroll-down" data-target-id="ceremony">
        <span class="btn__icon">
            <span class="icon icon--arrow-down">Scroll Down</span>
        </span>
    </button>
</section>

we will say yes in ...