<section class="container container--full hero">
    <div class="img__container">
        <noscript class="res-data" data-srcset="assets/mobile.jpg 0w, assets/tablet.jpg 767w, assets/desktop.jpg 1024w" data-lazy="true">
            <img src="assets/desktop-big.jpg" alt="Image">
        </noscript>
        <img src="assets/desktop-big-placeholder.gif" alt="Image" class="res-img">
    </div>

    <div class="hero__main flex flex--justify-center flex--align-center">
        <div class="hero__main-inner">
            <h1 class="title">
                <span class="title__top">The Wedding Celebration of</span>
                <span class="title__main">Nira
                    <span class="icon__wrapper">
                        <svg class="icon icon--svg">
                            <title class="icon__title">And</title>
                        </svg>
                    </span> Marc</span>
            </h1>
            <p>June 8, 2019</p>
        </div>
    </div>
</section>