<section class="container container--full hero">
    <div class="img__container img--container-hero" data-section-id="hero">
        <noscript class="res-data" data-srcset="img/nira-marc_hero-s.jpg 0w, img/nira-marc_hero-m.jpg 667w, img/nira-marc_hero-l.jpg 1024w" data-lazy="true">
            <img src="img/nira-marc_hero-l.jpg" alt="Nira and Marc" class="img">
        </noscript>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Nira and Marc" class="img res-img">
    </div>

    <div class="hero__main flex flex--justify-center flex--align-center">
        <div class="hero__main-inner">
            <h1 class="title title--hero">
                <span class="title__top"><span class="t">T</span><span class="t">h</span><span class="t">e</span> <span class="t">W</span><span class="t">e</span><span class="t">d</span><span class="t">d</span><span class="t">i</span><span class="t">n</span><span class="t">g</span> <span class="t">C</span><span class="t">e</span><span class="t">l</span><span class="t">e</span><span class="t">b</span><span class="t">r</span><span class="t">a</span><span class="t">t</span><span class="t">i</span><span class="t">o</span><span class="t">n</span> <span class="t">o</span><span class="t">f</span></span>
                <span class="title__main"><span class="t">N</span><span class="t">i</span><span class="t">r</span><span class="t">a</span> <span class="title__big"><span class="t">&amp;</span></span> <span class="t">M</span><span class="t">a</span><span class="t">r</span><span class="t">c</span></span>
            </h1>
            <p class="hero__copy trans--all trans--all-before-after">June 8, 2019 in Vienna</p>
        </div>
    </div>

    <button class="btn btn--scroll-down" data-target-id="ceremony">
        <span class="btn__icon">
            <span class="icon icon--arrow-down">Scroll Down</span>
        </span>
    </button>
</section>