<section class="container container--slidein info" data-section-id="information">
    <h2 class="title title--secondary-large title--underline">Information</h2>
    <p class="copy copy--center copy--sub">Dear friends and family from abroad below you will find everything you need
        to know about Vienna, where you can stay and what you can do, so stay tuned.</p>

    <div class="info__list flex">
        <div class="info__col">
            <div class="img__container">
                <noscript class="res-data" data-srcset="img/info-1-s.jpg 0w, img/info-1-l.jpg 667w"
                    data-lazy="true">
                    <img src="img/info-1-l.jpg" alt="Vienna Information" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Vienna Information"
                    class="img res-img trans--all">
            </div>
            <div class="info__main flex flex--nowrap flex--justify-center flex--align-center trans--all">
                <div class="info__main-inner">
                    <h4 class="title title--secondary-small title--white">About Vienna</h4>
                    <span class="btn btn--ghost-white">Coming soon</span>
                </div>
            </div>
        </div>
        <div class="info__col">
            <div class="img__container">
                <noscript class="res-data" data-srcset="img/info-2-s.jpg 0w, img/info-2-l.jpg 667w"
                    data-lazy="true">
                    <img src="img/info-2-l.jpg" alt="Vienna Information" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Vienna Information"
                    class="img res-img trans--all">
            </div>
            <div class="info__main flex flex--nowrap flex--justify-center flex--align-center trans--all">
                <div class="info__main-inner">
                    <h4 class="title title--secondary-small title--white">Accommodation</h4>
                    <span class="btn btn--ghost-white">Coming soon</span>
                </div>
            </div>
        </div>
        <div class="info__col">
            <div class="img__container">
                <noscript class="res-data" data-srcset="img/info-3-s.jpg 0w, img/info-3-l.jpg 667w"
                    data-lazy="true">
                    <img src="img/info-3-l.jpg" alt="Vienna Information" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Vienna Information"
                    class="img res-img trans--all">
            </div>
            <div class="info__main flex flex--nowrap flex--justify-center flex--align-center trans--all">
                <div class="info__main-inner">
                    <h4 class="title title--secondary-small title--white">Experiences/Sights</h4>
                    <span class="btn btn--ghost-white">Coming soon</span>
                </div>
            </div>
        </div>
    </div>
</section>