<section class="container container--slidein info" data-section-id="information">
    <h2 class="title title--secondary-large title--underline">Information</h2>
    <p class="copy copy--center copy--sub">Dear friends and family from abroad below you will find everything you need
        to know about Vienna, where you can stay and what you can do.</p>

    <div class="info__item">
        <div class="img__container">
            <noscript class="res-data" data-srcset="img/about-vienna-s.jpg 0w, img/about-vienna.jpg 667w"
                data-lazy="true">
                <img src="img/about-vienna.jpg" alt="Vienna Information" class="img">
            </noscript>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Vienna Information"
                class="img res-img trans--all">
        </div>
        <div class="info__main flex flex--nowrap flex--justify-center flex--align-center trans--all">
            <div class="info__main-inner flex flex--justify-center">
                <h4 class="title title--secondary-small title--white">About Vienna</h4>
                <span class="btn btn--ghost-white">Read more</span>
            </div>
        </div>
    </div>
</section>