<section class="container container--slidein info" data-section-id="information">
    <h2 class="title title--secondary-large title--underline">Information</h2>
    <p class="copy copy--center copy--sub">Dear friends and family from abroad below you will find everything you need
        to know about Vienna what you can do. We will continue to add a few more details here and there in the next few months to make your stay unforgettable. Please note this was put together by us with love so ignore any typos :)</p>

    <div class="flex flex--justify-center btn__wrapper">
        <a href="about-vienna.html" class="btn btn--ghost">About Vienna</a>
    </div>
</section>