<section class="container food-menu">
    <h1 class="title title--secondary-large title--underline title--space">Food Menu</h1>

    <div class="img__container  img__ratio img--ratio-menu">
        <noscript class="res-data" data-srcset="img/menu-s.jpg 0w, img/menu-m.jpg 667w, img/menu-l.jpg 1024w" data-lazy="true">
            <img src="img/menu-l.jpg" alt="Food Menu" class="img">
        </noscript>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            alt="Experience 8" class="img res-img img--fade-in">
    </div>

    <div class="flex content__main">

        <div class="gs">
            <h3 class="title title--secondary-medium title--bold title--space">Starter</h3>

            <h4 class="title title--primary-medium">Buffalo Mozzarella / Tomato / Basil (G, O)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Büffelmozzarella / Tomate / Basilikum</p>
            <p class="copy copy--center copy--no-margin">Marinated buffalo mozzarella with pickled cherry tomato, basil pesto and basil chip</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Büffelmozzarella mit eingelegten Kirschtomaten und Basilikumpesto- und -chip</p>

            <p class="copy copy--center copy--caps copy--title-line"><strong>or</strong></p>

            <h4 class="title title--primary-medium">Salmon / Avocado / Potatoes (D, O)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Lachs / Avocado / Erdapfel</p>
            <p class="copy copy--center copy--no-margin">Lemon oil marinated salmon, avocado, red oil and potato straw</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Leicht im Zitronenöl gegarter Lachs mit Avocado, rotem Öl und Erdapfelstroh</p>

        </div>

        <div class="gs">

            <h3 class="title title--secondary-medium title--bold title--space">Soup</h3>

            <h4 class="title title--primary-medium">Bell Pepper / Tomato / Celery (vegetarian, cold) (O)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Paprika / Tomate / Sellerie (vegetarisch, kalt)</p>
            <p class="copy copy--center copy--no-margin">Gazpacho with vegetables</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Gazpacho mit Gemüseeinlage</p>

            <p class="copy copy--center copy--caps copy--title-line"><strong>or</strong></p>

            <h4 class="title title--primary-medium">Beef / Root Vegetabels / Chives (A, C, F, G, L)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Rind / Wurzelgemüse / Schnittlauch</p>
            <p class="copy copy--center copy--no-margin">Beef bouillon with sliced pancake, root vegetables and chives</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Rinderbouillon mit Frittaten, Wurzelgemüse und Schnittlauch</p>

        </div>

        <div class="gs">

            <h3 class="title title--secondary-medium title--bold title--space">Main</h3>

            <h4 class="title title--primary-medium">Swiss Chard / Ricotta / Pine Nuts (A, C, G, O)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Mangold / Ricotta / Pinienkerne</p>
            <p class="copy copy--center copy--no-margin">Open ravioli with chard &amp; ricotta filling and roasted pine nuts</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Offene Ravioli mit Mangold-Ricotta-Füllung und gerösteten Pinienkernen</p>

            <p class="copy copy--center copy--caps copy--title-line"><strong>or</strong></p>

            <h4 class="title title--primary-medium">Veal / Parsley / Lingonberries (A, C, G, O)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Kalb / Petersilie / Preiselbeere</p>
            <p class="copy copy--center copy--no-margin">Traditional “Wiener Schnitzel” with parsley potatoes, lemon and lingonberries</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Klassisches Wiener Schnitzel mit Petersilerdäpfeln, Zitrone und Preiselbeere</p>

            <p class="copy copy--center copy--caps copy--title-line"><strong>or</strong></p>

            <h4 class="title title--primary-medium">Duck / Port Wine / Celery (A, F, G, L, O)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Ente / Portwein / Sellerie</p>
            <p class="copy copy--center copy--no-margin">Fried duck breast with celeriac cream, celery and port wine sauce</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Rosa gebratene Entenbrust mit Selleriecrème, Stangenselleriegemüse und Portweinsauce</p>
        </div>

        <div class="gs">

            <h3 class="title title--secondary-medium title--bold title--space">Kids Menu</h3>

            <p class="copy copy--center copy--caps copy--title-line"><strong>Soup</strong></p>

            <h4 class="title title--primary-medium">Beef / Root Vegetabels / Chives (A, C, F, G, L)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Rind / Wurzelgemüse / Schnittlauch</p>
            <p class="copy copy--center copy--no-margin">Beef bouillon with sliced pancake, root vegetables and chives</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Rinderbouillon mit Frittaten, Wurzelgemüse und Schnittlauch</p>

            <p class="copy copy--center copy--caps copy--title-line"><strong>Main</strong></p>

            <h4 class="title title--primary-medium">Veal / Fries (A, C, G, O)</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Kalb / Pommes</p>
            <p class="copy copy--center copy--no-margin">Traditional “Wiener Schnitzel” kids portion with fries and ketchup</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Klassisches Wiener Schnitzel mit Pomme und Ketchup</p>

            <p class="copy copy--center copy--caps copy--title-line"><strong>Dessert</strong></p>
                
            <h4 class="title title--primary-medium">Ice Cream</h4>
            <p class="copy copy--small copy--italic copy--grey copy--center">Gemischtes Eis</p>
            <p class="copy copy--center copy--no-margin">Variation of Ice Cream with wipped cream</p>
            <p class="copy copy--small copy--italic copy--grey copy--center">Gemischtes Eis mit Schlagobers</p>
        </div>
        
    </div>
</section>


<section class="container choose-menu" id="menu-form-container">
    <h2 class="title title--secondary-large title--underline title--space">Please Choose</h2>

    <form id="menu-form" class="menu__form" action="/" method="post">
        <div class="menu__container">
            <span class="title title--primary-medium">Marc Andrew</span>

            <div class="menu__row">
                <input type="radio" id="starter-option-1" name="starter-options" value="starter-option-1" checked>
                <label for="starter-option-1">Buffalo Mozzarella / Tomato / Basil <br>
                    Büffelmozzarella / Tomate / Basilikum
                </label>
            </div>

            <div class="menu__row">
                <input type="radio" id="starter-option-2" name="starter-options" value="starter-option-2">
                <label for="starter-option-2">Salmon / Avocado / Potatoes <br>
                    Lachs / Avocado / Erdapfel
                </label>
            </div>


            <div class="menu__row">
                <input type="radio" id="soup-option-1" name="soup-options" value="soup-option-1" checked>
                <label for="soup-option-1">Bell Pepper / Tomato / Celery (vegetarian, cold) <br>
                    Paprika / Tomate / Sellerie (vegetarisch, kalt)
                </label>
            </div>

            <div class="menu__row">
                <input type="radio" id="soup-option-2" name="soup-options" value="soup-option-2">
                <label for="soup-option-2">Beef / Root Vegetabels / Chives <br>
                    Rind / Wurzelgemüse / Schnittlauch
                </label>
            </div>

            <div class="menu__row">
                <input type="radio" id="main-option-1" name="main-options" value="main-option-1" checked>
                <label for="main-option-1">Swiss Chard / Ricotta / Pine Nuts <br>
                    Mangold / Ricotta / Pinienkerne
                </label>
            </div>

            <div class="menu__row">
                <input type="radio" id="main-option-2" name="main-options" value="main-option-2">
                <label for="main-option-2">Veal / Parsley / Lingonberries <br>
                    Kalb / Petersilie / Preiselbeere
                </label>
            </div>

            <div class="menu__row">
                <input type="radio" id="main-option-3" name="main-options" value="main-option-3">
                <label for="main-option-3">Duck / Port Wine / Celery <br>
                    Ente / Portwein / Sellerie
                </label>
            </div>
        </div>
    </form>
</section>