<section class="container container--slidein people" data-section-id="people">
    <h2 class="title title--secondary-medium title--underline">Bridesmaids</h2>

    <div class="people__list people--list-brides flex flex--justify-center">
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/jeny.jpg 0w" data-lazy="true">
                    <img src="img/jeny.jpg" alt="Jeny" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Maid of honor</h3>
            <h2 class="title title--primary-medium">Jeny</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/anjani.jpg 0w" data-lazy="true">
                    <img src="img/anjani.jpg" alt="Anjani" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Anjani"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Anjani</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Joana</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/kamala.jpg 0w" data-lazy="true">
                    <img src="img/kamala.jpg" alt="Kamala" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Kamala"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Kamala</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Matilda</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/annie.jpg 0w" data-lazy="true">
                    <img src="img/annie.jpg" alt="Annie" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Annie"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Annie</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/sneha.jpg 0w" data-lazy="true">
                    <img src="img/sneha.jpg" alt="Sneha" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Sneha"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Sneha</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/vicky.jpg 0w" data-lazy="true">
                    <img src="img/vicky.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Vicky</h2>
        </div>
    </div>

    <h2 class="title title--secondary-medium title--underline">Groomsmen</h2>

    <div class="people__list people--list-groomsmen flex flex--justify-center">
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Andreas" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Andreas"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Best Man</h3>
            <h2 class="title title--primary-medium">Andreas</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/jon.jpg 0w" data-lazy="true">
                    <img src="img/jon.jpg" alt="Jon" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jon"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Jon</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/mike.jpg 0w" data-lazy="true">
                    <img src="img/mike.jpg" alt="Mike" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Mike"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Michael W.</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Abhilash V.</h2>
        </div>
        <div class="people__col">
            <div class="profile__img profile--img-small">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Groomsman</h3>
            <h2 class="title title--primary-medium">Alejandro S.</h2>
        </div>
    </div>
</section>