<section class="container people" data-section-id="people">
    <h2 class="title title--secondary-medium title--underline">Bridesmaids</h2>

    <div class="people__list flex flex--justify-center">
        <div class="people__col">
            <div class="profile__img">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Maid of honor</h3>
            <h2 class="title title--primary-medium">Jeny J.</h2>
        </div>
        <div class="people__col">
            <div class="profile__img">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Maid of honor</h3>
            <h2 class="title title--primary-medium">Jeny J.</h2>
        </div>
        <div class="people__col">
            <div class="profile__img">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Jeny J.</h2>
        </div>
        <div class="people__col">
            <div class="profile__img">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Jeny J.</h2>
        </div>
        <div class="people__col">
            <div class="profile__img">
                <noscript class="res-data" data-srcset="img/nira.jpg 0w" data-lazy="true">
                    <img src="img/nira.jpg" alt="Nira" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Jeny"
                    class="img res-img trans--all">
            </div>
            <h3 class="title title--secondary-small title--secondary-small-profile">Bridesmaid</h3>
            <h2 class="title title--primary-medium">Jeny J.</h2>
        </div>
    </div>
</section>