<section class="container container--slidein privacy">
    <h1 class="title title--secondary-large title--underline">Privacy Policy</h2>

        <h2 class="title tittle--secondary-medium">Introduction</h2>
        <p class="copy">We are committed to respecting your privacy and complying with applicable laws and
            regulations to ensure that the personal information you give us is kept appropriately secure and processed
            fairly and lawfully.</p>

        <p class="copy">Niraandmarc is not a company (referred to in this Policy as "we, "us" and "our").</p>

        <p class="copy">Your personal information will be held and managed by us. By visiting and using
            Niraandmarc’s website (www.niraandmarc.com) (the "SITE"), you acknowledge that you have read this Privacy
            Policy. You must be at least 13 years old to use the Site. If you are under 13 or a minor in your country
            or state of residence, please ask your parent or legal guardian to provide their information for you.</p>
</section>