<section class="container privacy">
    <h1 class="title title--secondary-large title--underline title--space">Privacy Policy</h1>

    <h2 class="title title--secondary-small title--left title--space">Introduction</h2>
    <p class="copy">We are committed to respecting your privacy and complying with applicable laws and
        regulations to ensure that the personal information you give us is kept appropriately secure and processed
        fairly and lawfully.</p>

    <p class="copy">Niraandmarc is not a company (referred to in this Policy as "we, "us" and "our").</p>

    <p class="copy">Your personal information will be held and managed by us. By visiting and using
        Niraandmarc’s website (www.niraandmarc.com) (the "SITE"), you acknowledge that you have read this Privacy
        Policy. You must be at least 13 years old to use the Site. If you are under 13 or a minor in your country
        or state of residence, please ask your parent or legal guardian to provide their information for you.</p>

    <p class="copy">If you have any questions about this privacy notice, including any requests to exercise your
        legal rights, please contact us at <a href="mailto:hello@niraandmarc.com" class="btn btn--txt btn--txt-primary trans--all">hello@niraandmarc.com</a>.</p>

    <h2 class="title title--secondary-small title--left title--space">Third-Party Links</h2>
    <p class="copy">This website may include links to third-party websites, plug-ins and applications. Clicking on
        those links or enabling those connections may allow third parties to collect or share data about you. We do
        not control these third-party websites and are not responsible for their privacy statements. When you leave
        our website, we encourage you to read the privacy notice of every website you visit.</p>

    <h2 class="title title--secondary-small title--left title--space">The data we collect about you</h2>
    <p class="copy">Personal data, or personal information, means any information about an individual from which
        that person can be identified. It does not include data where the identity has been removed (anonymous
        data).</p>

    <p class="copy">We may collect, use, store and transfer different kinds of personal data about you which we
        have grouped together as follows:</p>

    <ul class="copy copy--list">
        <li>Identity Data includes first name and last name.</li>
        <li>Contact Data includes email address.</li>
        <li>Technical Data includes time zone setting.</li>
        <li>Usage Data includes information about how you use our website.</li>
        <li>Communications Data includes how you interact with our email communications.</li>
    </ul>

    <p class="copy">We also collect, use and share Aggregated Data such as statistical or demographic data for any
        purpose. Aggregated Data may be derived from your personal data but is not considered personal data in law
        as this data does not directly or indirectly reveal your identity. For example, we may aggregate your Usage
        Data to calculate the percentage of users accessing a specific website feature. However, if we combine or
        connect Aggregated Data with your personal data so that it can directly or indirectly identify you, we
        treat the combined data as personal data which will be used in accordance with this privacy notice.</p>

    <p class="copy">We do not collect any Special Categories of Personal Data about you (this includes details
        about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political
        opinions, trade union membership, information about your health and genetic and biometric data). Nor do we
        collect any information about criminal convictions and offences.</p>

    <h2 class="title title--secondary-small title--left title--space">How is your personal data collected</h2>
    <p class="copy">We use different methods to collect data from and about you including through:</p>

    <ul class="copy copy--list">
        <li>Direct interactions includes personal data you provide when you confirm our RSVP form.</li>
        <li>Automated technologies or interactions. As you interact with our website, we may automatically collect
            Technical Data about your equipment, browsing actions and patterns. We collect this personal data by
            using cookies, server logs and other similar technologies. Please see our <a href="/cookie-policy.html"
                class="btn btn--txt btn--txt-primary trans--all">cookie policy</a> for further
            details.</li>
    </ul>

    <h2 class="title title--secondary-small title--left title--space">How we use your personal data</h2>
    <p class="copy">We will only use your personal data to contact you about our wedding and we don't share your
        personal data with external third parties.</p>

    <h2 class="title title--secondary-small title--left title--space">Data security</h2>
    <p class="copy">We have put in place appropriate security measures to prevent your personal data from being
        accidentally lost, used or accessed in an unauthorised way, altered or disclosed.</p>

    <h2 class="title title--secondary-small title--left title--space">Data retention</h2>
    <p class="copy">After the wedding we will delete your personal data from the server.</p>
</section>