<section class="container restaurants">
    <h1 class="title title--secondary-large title--underline title--space">Restaurants</h1>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Plachutta an der Oper</h3>
            <p class="copy">Have the Tafelspitz or go for a classic Schnitzel.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Walfischgasse 5, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/tUz8wLziF8x" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                11am - 12:30am <br>
                <br>
                Website: <a href="https://www.plachutta-oper.at/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank">https://www.plachutta-oper.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Figlmüller</h3>
            <p class="copy">Probably the best Schnitzel in Vienna. They are known for their authentic local cuisine and
                the restaurant itself is very cosy and incredibly popular (so make a reservation to visit).</p>
            <p class="copy">We recommend to order the Figlmüller Schnitzel, also known for the original 30cm of real
                Schnitzel.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Bäckerstraße 6, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/Y2gwAihh1P92" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                11.30am - 11:30am <br>
                <br>
                Website: <a href="https://figlmueller.at/en/" class="btn btn--txt btn--txt-primary trans--all" target="_blank">https://figlmueller.at/en/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Steiereck</h3>
            <p class="copy">World's 16th best restaurant, but very expensive and needs reservations well in advance.</p>
            <p class="copy">They have a nice and cheaper cafe called "Meierei am Stadtpark" on the other side that
                serves excellent cheese platters for €20 and great wine.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Am Heumarkt 2A, <br>
                1030 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/uhhXD3xwhbG2" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Fri / 11.30am - 2.30pm / 6.30pm – 11pm <br>
                <br>
                Website: <a href="https://www.steirereck.at/en/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank">https://www.steirereck.at/en/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Skopik und Lohn</h3>
            <p class="copy">Only open in the evenings, great Schnitzel for €19.50, excellent service, stylish
                atmosphere.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Leopoldsgasse 17, <br>
                1020 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/i9dFfnu54f72" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Tue - Sat / 6pm - 1am <br>
                <br>
                Website: <a href="http://skopikundlohn.at/index.php?lang=en" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank">http://skopikundlohn.at/index.php?lang=en</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Gasthaus Wickerl</h3>
            <p class="copy">For typical Austrian food.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Porzellangasse 24a, <br>
                1090 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/JWr8Ct15Uqs" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sat / 10.30am - 11.30pm, <br>
                Sun 11am - 11pm <br>
                <br>
                Website: <a href="https://www.wickerl.at/unsere-speisen/" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank">https://www.wickerl.at/unsere-speisen/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Vestibuel</h3>
            <p class="copy">$$ haute cuisine, beautiful venue in the Burgtheater in front of the stunning city hall,
                and excellent service. Delicious sweet wine and perfect foie gras, also has Viennese Schnitzel for €17
                (small) or €25.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Universitätsring 2, <br>
                1091 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/ehwbRxSDPqq" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Tue - Fri / 12pm - 2.30pm / 6pm - 11pm, <br>
                Sat 6pm - 11pm <br>
                <br>
                Website: <a href="http://www.vestibuel.at/vestibuel.php" class="btn btn--txt btn--txt-primary trans--all"
                    target="_blank">http://www.vestibuel.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Mochi</h3>
            <p class="copy">Fancy some Asian food? I personally love the softshell crab here.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Pratertrasse 15, <br>
                1020 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/e58gW3AFs8v" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sat / 11.30am - 10pm <br>
                <br>
                Website: <a href="https://www.mochi.at/" class="btn btn--txt btn--txt-primary trans--all" target="_blank">https://www.mochi.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Café Ansari</h3>
            <p class="copy">The best Georgian cuisine in a stylish atmosphere (We haven’t tried this place yet but it
                is on out list).</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Pratertrasse 15, <br>
                1020 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/e58gW3AFs8v" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Sat / 8am - 11pm, <br>
                Sun / 9am - 3pm <br>
                <br>
                Website: <a href="https://cafeansari.at/" class="btn btn--txt btn--txt-primary trans--all" target="_blank">https://cafeansari.at/</a>
            </address>
        </div>
    </div>

    <div class="flex content__main">
        <div class="gs gs--col-7 gs--col-2-s">
            <h3 class="title title--primary-medium title--left title--margin-bottom">Salonplafond</h3>
            <p class="copy">One of the best restaurants in town, right next to the beautiful Museum of Applied Arts. It
                has a great menu of Austrian contemporary and international cuisine.</p>
        </div>
        <div class="gs gs--col-5 gs--col-2-s">
            <p class="copy  copy--secondary"><strong>Details</strong></p>
            <address class="copy copy--sub">
                Stubenring 5, <br>
                1010 Vienna <br>
                Austria <br>
                <a href="https://goo.gl/maps/JWgQ92zxHX12" class="btn btn--txt btn--txt-primary trans--all" target="_blank">View
                    on Google Map</a><br>
                <br>
                Hours: <br>
                Mon - Thu / 10am - 12am, <br>
                Fri - Sat / 10am - 2am, <br>
                Sun / 10am - 12am <br>
                <br>
                Website: <a href="https://cafeansari.at/" class="btn btn--txt btn--txt-primary trans--all" target="_blank">https://cafeansari.at/</a>
            </address>
        </div>
    </div>

</section>