<section class="container container--slidein rsvp flex flex--justify-center" data-section-id="rsvp">
    <div class="rsvp__inner">
        <h2 class="title title--secondary-large title--underline">RSVP</h2>
        <p class="copy copy--center copy--sub">We look forward to celebrate with you. <br>Please reply by March 1,
            2019.</p>
        <p class="copy copy--center rsvp--copy">Thank you for response!</p>
        <form id="rsvp-form" class="rsvp__form flex" action="/" method="post">

            <div class="rsvp__row rsvp--row-first flex">
                <div class="rsvp__col rsvp--col-6 rsvp--col-name">
                    <input type="text" class="rsvp__input trans--all" id="rsvp-name">
                    <label class="rsvp__label trans--all" for="rsvp-name">First Name:</label>
                </div>

                <div class="rsvp__col rsvp--col-6 rsvp--col-lastname">
                    <input type="text" class="rsvp__input trans--all" id="rsvp-lastname">
                    <label class="rsvp__label trans--all" for="rsvp-lastname">Last Name:</label>
                </div>

                <div class="rsvp__col rsvp--col-submit rsvp--col-check">
                    <button type="button" id="checkNameBtn" class="btn btn--ghost trans--all">Continue</button>
                    <span class="copy copy--error copy--error-unknown">We are sorry, we can't find you on our
                        Guestlist!
                        <br>Please check if your name is correct and try again.</span>
                    <span class="copy copy--error copy--error-confirmed">You are already confirmed!</span>
                </div>
            </div>



            <!--  <div class="rsvp__col">
                <label class="rsvp__label" for="rsvp-lastname">Last Name:</label>
                <input type="text" class="rsvp__input trans--all" id="rsvp-lastname">
            </div>
            <div class="rsvp__col rsvp--col-submit rsvp--col-check">
                <button type="button" id="checkNameBtn" class="btn btn--ghost btn--width trans--all">Next</button>
                <span class="copy copy--error copy--error-unknown">We are sorry, we can't find you on our Guestlist!
                    <br>Please check if your last name is correct and try again.</span>
                <span class="copy copy--error copy--error-confirmed">You are already confirmed!</span>
            </div>

            <div class="rsvp__col rsvp--col-to-show">
                <label class="rsvp__label" for="rsvp-name">Name:</label>
                <input type="text" class="rsvp__input trans--all" id="rsvp-name">
            </div>
            <div class="rsvp__col rsvp--col-to-show">
                <label class="rsvp__label" for="rsvp-email">E-Mail:</label>
                <input type="email" class="rsvp__input trans--all" id="rsvp-email">
            </div>
            <div class="rsvp__col rsvp--col-6 rsvp--col-to-show">
                <label class="rsvp__label" for="rsvp-attending">Attending:</label>
                <select class="rsvp__select trans--all" id="rsvp-attending">
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="rsvp__col rsvp--col-6 rsvp--col-guests">
                <label class="rsvp__label" for="rsvp-guests">Additional guests:</label>
                <select class="rsvp__select trans--all" id="rsvp-guests">
                </select>
            </div>
            <div class="rsvp__col" id="additional">

            </div>
            <div class="rsvp__col rsvp--col-to-show rsvp--col-submit flex flex--justify-center">
                <button type="button" id="rsvpBackBtn" class="btn btn--ghost btn--width btn--ghost-transparent trans--all">Cancel</button>
                <input type="submit" class="btn btn--ghost btn--width trans--all" id="rsvp-submit" value="Submit">
            </div>
             -->
        </form>
    </div>
</section>