<section class="container container--slidein rsvp flex flex--justify-center" data-section-id="rsvp">
    <div class="rsvp__inner">
        <h2 class="title title--secondary-medium title--underline">RSVP</h2>
        <p class="copy copy--center copy--venue">We look forward to celebrate with you. <br>Please reply by March 1,
            2019.</p>

        <form class="rsvp__form" action="/" method="post">
            <label class="rsvp__label" for="rsvp-name">Name:</label>
            <div class="rsvp__col">
                <input type="text" class="rsvp__input trans--all rsvp--input-invalid" id="rsvp-name">
            </div>
            <label class="rsvp__label" for="rsvp-lastname">Last Name:</label>
            <div class="rsvp__col">
                <input type="text" class="rsvp__input trans--all" id="rsvp-lastname">
            </div>
            <label class="rsvp__label" for="rsvp-email">E-Mail:</label>
            <div class="rsvp__col">
                <input type="email" class="rsvp__input trans--all" id="rsvp-email">
            </div>
            <div class="rsvp__col rsvp--col-submit">
                <input type="submit" class="btn btn--ghost" id="rsvp-submit" value="Submit">
            </div>
        </form>
    </div>
</section>