<section class="container container--slidein rsvp flex flex--justify-center" data-section-id="rsvp">
    <div class="rsvp__inner">
        <h2 class="title title--secondary-large title--underline">RSVP</h2>
        <p class="copy copy--center copy--sub">We look forward to celebrate with you. <br>Please reply by Feb 1,
            2019.</p>
        <p class="copy copy--center rsvp--copy">Thank you for your response!</p>
        <form id="rsvp-form" class="rsvp__form flex" action="/" method="post">

            <div class="rsvp__row rsvp--row-first flex">
                <div class="rsvp__col rsvp--col-6">
                    <input type="text" class="rsvp__input trans--all" id="rsvp-name">
                    <label class="rsvp__label trans--all" for="rsvp-name">First Name:</label>
                </div>

                <div class="rsvp__col rsvp--col-6">
                    <input type="text" class="rsvp__input trans--all" id="rsvp-lastname">
                    <label class="rsvp__label trans--all" for="rsvp-lastname">Last Name:</label>
                </div>

                <div class="rsvp__col rsvp--col-check">
                    <div class="flex flex--justify-center">
                        <button type="button" id="checkNameBtn" class="btn btn--ghost trans--all">Continue</button>
                    </div>
                </div>
            </div>

            <div class="rsvp__row rsvp--row-second">
                <div class="rsvp__col">
                    <input type="text" class="rsvp__input trans--all" id="rsvp-email">
                    <label class="rsvp__label trans--all" for="rsvp-email">E-Mail:</label>
                </div>

                <div class="rsvp__col rsvp--col-attending">
                    <select class="rsvp__select trans--all rsvp--input-valid" id="rsvp-attending">
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    </select>
                    <label class="rsvp__label trans--all" for="rsvp-attending">Are you attending:</label>
                </div>

                <div class="rsvp__col rsvp--col-additional">
                    <select class="rsvp__select trans--all rsvp--input-valid" id="rsvp-guests"></select>
                    <label class="rsvp__label trans--all" for="rsvp-guests">Additional guests:</label>
                </div>

                <div class="rsvp__col rsvp--col-relation-list">
                    <p class="copy copy--center">Would you like to confirm for your Family member or Partner? If you don't yet know whether they can attent, they can confirm later.</p>
                    <div id="relation"></div>
                </div>

                <div class="rsvp__col rsvp--col-additional-list" id="additional"></div>

                <div class="rsvp__col rsvp--col-submit">
                    <div class="flex flex--justify-center">
                        <button type="button" id="rsvpBackBtn" class="btn btn--ghost btn--width btn--ghost-transparent trans--all">Cancel</button>
                        <input type="submit" class="btn btn--ghost btn--width trans--all" id="rsvp-submit" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>