<section class="container container--slidein container--no-padding-top sights" data-section-id="sights">
    <h2 class="title title--secondary-medium title--bold title--space">Explore like a local</h2>

    <p class="copy copy--center">
        The 23 Vienna districts spiral out clockwise from the centre like a snail shell. The 1st district, which is
        called Innere Stadt (inner city), sits at the centre. Every address in Vienna begins with the district number,
        starting with 1 for the Innere Stadt. The district number is easily indefinable by the middle two digits
        of its four-digit post code, so for example 1010 is the 01 (Innere Stadt).<br><br>
        The Innere Stadt is encircled by the Ringstrasse. Between the Ringstrasse and the
        Gürtel ring road are the inner suburbs with the districts 2 - 9. Outside the Gürtel ring road are the outer
        suburbs, districts 10 - 20.<br>
        Districts 21 and 22 are on the city's northeastern flank, while 23  sits on the southwestern edge.<br><br>
        Each of the destricts has its own style and character. While exploring the destricts you'll often find
    smaller neighbourhoods.
    </p>

    <div class="flex flex--justify-center btn__wrapper">
        <a href="experiences-and-sights.html" class="btn btn--ghost">Read more</a>
    </div>
</section>