<section class="container container--slidein container--full venue" data-section-id="venue">
    <div class="img__container img--container-venue" data-section-id="hero">
        <noscript class="res-data" data-srcset="img/venue-3-s.jpg 0w, img/venue-3-m.jpg 667w, img/venue-3-l.jpg 1024w"
            data-lazy="true">
            <img src="img/venue-3-l.jpg" alt="Palais Coburg" class="img">
        </noscript>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Palais Coburg"
            class="img res-img trans--all">
    </div>

    <div class="venue__main flex flex--justify-center flex--align-center flex--nowrap">
        <div class="venue__main-inner flex flex--justify-center">
            <h2 class="title title--secondary-large title--underline">The Venue</h2>
            <address class="copy copy--center copy--sub">
                Coburgbastei 4
                <br> 1010 Wien
                <br> Austria
            </address>
            <button type="button" class="btn btn--ghost btn--view-map trans--all">View on map</button>
        </div>
    </div>

    <div class="venue__map">
        <button type="button" class="btn btn--close btn--close-map"><span class="icon icon--close">Close</span></button>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.039350114157!2d16.374486315703955!3d48.20585797922898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d079e21d92331%3A0x417b4c58d40531b5!2sPalais+Coburg+Residenz!5e0!3m2!1sen!2suk!4v1537184868153"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>