<section class="container container--full venue" data-section-id="venue">
    <div class="img__container" data-section-id="hero">
        <noscript class="res-data" data-srcset="img/venue-3-s.jpg 0w, img/venue-3-m.jpg 667w, img/venue-3-l.jpg 1024w"
            data-lazy="true">
            <img src="img/venue-l.jpg" alt="Palais Coburg" class="img">
        </noscript>
        <img src="img/ph-venue-l.gif" alt="Palais Coburg" class="img res-img trans--all">
    </div>

    <div class="venue__main flex flex--justify-center flex--align-center">
        <div class="venue__main-inner flex flex--justify-center">
            <h2 class="title title--secondary-large title--underline">The Venue</h2>
            <address class="venue__address">
                Coburgbastei 4
                <br> 1010 Wien
                <br> Austria
            </address>
            <button class="btn btn--ghost btn--view-map trans--all">View on map</button>
        </div>
    </div>
</section>