<section class="container container--slidein venue" data-section-id="venue">
    <div class="venue__slider">
        <div class="img__container img--container-venue" data-section-id="hero">
            <noscript class="res-data" data-srcset="img/venue-1-s.jpg 0w, img/venue-1-l.jpg 667w" data-lazy="true">
                <img src="img/venue-1-l.jpg" alt="Palais Coburg" class="img">
            </noscript>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Palais Coburg"
                class="img res-img">
        </div>
        <div class="img__container img--container-venue" data-section-id="hero">
            <noscript class="res-data" data-srcset="img/venue-2-s.jpg 0w, img/venue-2-l.jpg 667w" data-lazy="true">
                <img src="img/venue-2-l.jpg" alt="Palais Coburg" class="img">
            </noscript>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Palais Coburg"
                class="img res-img">
        </div>
        <div class="img__container img--container-venue" data-section-id="hero">
            <noscript class="res-data" data-srcset="img/venue-3-s.jpg 0w, img/venue-3-l.jpg 667w" data-lazy="true">
                <img src="img/venue-3-l.jpg" alt="Palais Coburg" class="img">
            </noscript>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Palais Coburg"
                class="img res-img">
        </div>
        <div class="img__container img--container-venue" data-section-id="hero">
            <noscript class="res-data" data-srcset="img/venue-4-s.jpg 0w, img/venue-4-l.jpg 667w" data-lazy="true">
                <img src="img/venue-4-l.jpg" alt="Palais Coburg" class="img">
            </noscript>
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Palais Coburg"
                class="img res-img">
        </div>
    </div>

    <div class="venue__main flex flex--justify-center flex--align-center flex--nowrap">
        <div class="venue__main-inner flex flex--justify-center">
            <h2 class="title title--secondary-large title--underline">The Venue</h2>
            <address class="copy copy--center copy--sub">
                Coburgbastei 4
                <br> 1010 Wien
                <br> Austria
            </address>
            <button type="button" class="btn btn--ghost btn--view-map trans--all" data-target-id="map">View on map</button>
        </div>
    </div>
</section>