<section class="container container--slidein where-to-eat" data-section-id="where-to-eat">
    <h2 class="title title--secondary-large title--underline title--space">Where to eat</h2>

    <div class="flex flex--align-center content__main">
        <div class="gs gs--col-4 gs--col-2-s">
            <div class="">
                <noscript class="res-data" data-srcset="img/restaurants.jpg 0w" data-lazy="true">
                    <img src="img/restaurants.jpg" alt="Restaurants" class="img">
                </noscript>
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Restaurants"
                    class="img res-img trans--all">
            </div>
        </div>
        <div class="gs gs--no-paddings gs--col-8 gs--col-2-s restaurants__list">
            <div class="flex flex--align-stretch">
                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Plachutta an der Oper</strong> in Walfischgasse 5 <br>
                        <span class="copy--grey copy--caps copy--small">Austrian Cousine</span></p>
                    </div>
                </div>

                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Figlmüller</strong> in Bäckerstraße 6 <br>
                        <span class="copy--grey copy--caps copy--small">Austrian Cousine</span></p>
                    </div>
                </div>
            </div>

            <div class="flex flex--align-stretch">
                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Steiereck</strong> in Am Heumarkt 2A <br>
                        <span class="copy--grey copy--caps copy--small">Austrian Cousine</span></p>
                    </div>
                </div>

                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Skopik und Lohn</strong> in Leopoldsgasse 17 <br>
                        <span class="copy--grey copy--caps copy--small">Austrian Cousine</span></p>
                    </div>
                </div>
            </div>

            <div class="flex flex--align-stretch">
                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Salonplafond</strong> in Stubenring 5 <br>
                        <span class="copy--grey copy--caps copy--small">Austrian Cousine</span></p>
                    </div>
                </div>

                <div class="gs gs--col-6 gs--col-2-s">
                    <div class="restaurants__item">
                        <p class="copy copy--secondary">
                            <strong>Vestibül</strong> in Universitätsring 2 <br>
                        <span class="copy--grey copy--caps copy--small">Austrian Cousine</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex--justify-center btn__wrapper">
        <a href="restaurants.html" class="btn btn--ghost">View All Restaurants</a>
    </div>
</section>