/**
 Buttons
**/

.btn {
    // Variable for root id: #{$btnParent}
    $btnParent: &;

    // Default styling
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    font-family: $font-2;
    font-weight: normal;
    font-size: px(13);
    line-height: px(16);
    letter-spacing: px(0.25);
    text-decoration: none;
    padding: 0;
    cursor: pointer;

    &:focus {
        outline: px(1) dotted $primaryMedium;
    }

    //
    //------------------------------- Start Element
    //

    //-- ELEMENT: Scroll down
    @at-root #{&}__icon {
        display: block;
        width: 100%;
        height: 100%;
    }

    //-- ELEMENT: Burger btn icon element
    @at-root #{&}__burger-icon {
        position: absolute;
        display: block;
        text-indent: -99999px;
        width: px(22);
        height: px(22);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        &:before,
        &:after {
            position: absolute;
            display: block;
            background-color: $primary;
            content: '';
            width: 100%;
            height: px(2);
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto 0;
        }
    }

    //
    //------------------------------- Start Modifier
    //
    
    //-- MODIFIER: Scroll down
    @at-root #{&}--scroll-down {
        position: absolute;
        border-radius: 50%;
        background-color: #fff;
        display: block;
        width: px(60);
        height: px(60);
        right: 0;
        bottom: px(-30);
        left: 0;
        margin: 0 auto;

        &:hover {

            .btn__icon {
                animation: arrowBounce 500ms ease-in-out 200ms infinite alternate;
            }
        }
    }

    //-- MODIFIER: Ghost button
    @at-root #{&}--ghost {
        border: px(1) solid $primary;
        outline: px(1) solid transparent;
        font-weight: 500;
        text-transform: uppercase;
        padding: px(10) px(20) px(9);

        &:hover,
        &:focus {
            outline: px(1) solid $primary;
        }
    }

    //-- MODIFIER: Ghost button
    @at-root #{&}--ghost-transparent {
        border-color: transparent;

        &:hover,
        &:focus {
            border-color: $primary;
        }
    }

    //-- MODIFIER: Burger icon modifier
    @at-root #{&}--burger {
        position: absolute;
        display: none;
        width: px(30);
        height: px(30);
        top: px(12);
        left: px(18);

        @include media(screen,max,666px) {
            display: block;
        }

        &:before,
        &:after {
            position: absolute;
            display: block;
            background-color: $primary;
            content: '';
            width: px(22);
            height: px(2);
            right: 0;
            left: 0;
            margin: 0 auto;
        }

        &:before {
            top: px(7);
        }

        &:after {
            bottom: px(7);
        }
    }

    //-- MODIFIER: Burger icon modifier when active
    @at-root #{&}--burger-active {
        transform: translateX(280px);

        &:before,
        &:after {
            opacity: 0;
        }

        #{$btnParent}__burger-icon {

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    @at-root #{&}--close {
        position: absolute;
        background-color: #fff;
        width: px(50);
        height: px(50);
        top: 0;
        right: 0;
    }
}