/**
 Container
**/

.container {
    position: relative;
    max-width: px(1292);
    padding: px(77) px(20) px(80);
    margin: 0 auto;

    @include media(screen,max,666px) {
        padding-top: px(37);
        padding-bottom: px(40);
    }

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Container full
    @at-root #{&}--full {
        max-width: none;
        padding: 0;
    }

    @at-root #{&}--no-padding-top {
        padding-top: 0;
    }

    //-- MODIFIER: Container slide in
    @at-root #{&}--slidein {
        &.visible {
            animation: moveIn 1000ms ease-out forwards;
        }
    }

    @at-root #{&}--line {
        border-top: px(1) dashed $primaryMedium;
    }
    
}