/**
 Copy
**/

.copy {
    font-style: normal;
    font-family: $font-1;
    font-size: px(14);
    line-height: px(20);
	margin: 0 0 px(10);
    letter-spacing: px(0.5);

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Copy center
    @at-root #{&}--center {
        text-align: center;
    }

    //-- MODIFIER: Copy sub
    @at-root #{&}--sub {
        margin: px(20) 0;
    }

    //-- MODIFIER: Copy secondary
    @at-root #{&}--secondary {
        font-family: $font-2;
        color: $primary;
        font-size: px(13);

        strong {
            font-weight: 600;
        }
    }
    //-- MODIFIER: Copy error
    @at-root #{&}--error {
        visibility: hidden;
        display: block;
        font-family: $font-2;
        font-size: px(12);
        line-height: px(18);
        color: $red;
        margin: px(10) 0 0;
        opacity: 0;
    }
}