/**
 Copy
**/

.copy {
    font-style: normal;
    font-family: $font-1;
    font-size: px(14);
    line-height: px(20);
	margin: 0 0 px(20);
    letter-spacing: px(0.5);

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Copy center
    @at-root #{&}--center {
        text-align: center;
    }

    //-- MODIFIER: Copy sub
    @at-root #{&}--sub {
        margin: px(20) 0;
    }

    @at-root #{&}--small {
        font-size: px(12);
    }


    //-- MODIFIER: Copy secondary
    @at-root #{&}--secondary {
        font-family: $font-2;
        color: $primary;
        font-size: px(14);
    }
    //-- MODIFIER: Copy error
    @at-root #{&}--error {
        display: block;
        font-family: $font-2;
        font-size: px(12);
        line-height: px(18);
        text-align: center;
        color: $red;
        margin: px(10) 0 0;
        width: 100%;
    }

    @at-root #{&}--list {
        list-style: disc inside;
        padding: 0 0 0 px(20);

        li {
            display: list-item;
        }
    }

    @at-root #{&}--grey {
        color: $primaryMedium;
    }

    @at-root #{&}--caps {
        text-transform: uppercase;
    }

    @at-root #{&}--italic {
        font-style: italic;
    }

    strong {
        font-weight: 600;
    }
}