/**
 Flex
**/

.flex {
    // Default styling
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: No flexwrap
    @at-root #{&}--nowrap {
        flex-wrap: nowrap;
    }
    //-- MODIFIER: Justify Content to Center
    @at-root #{&}--justify-center {
        justify-content: center;
    }
    //-- MODIFIER: Justify Content to End
    @at-root #{&}--justify-end {
        justify-content: flex-end;
    }
    @at-root #{&}--align-stretch {
        align-items: stretch;
    }
    //-- MODIFIER: Align Items to Center
    @at-root #{&}--align-center {
        align-items: center;
    }
    @at-root #{&}--align-end {
        align-items: flex-end;
    }
    //-- MODIFIER: Flex Grow
    @at-root #{&}--grow {
        flex-grow: 1;
    }
}