/**
 Icons
**/

.icon {
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    margin: auto;

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: SVG elements
    @at-root #{&}--svg {
        display: block;
        width: 100%;
    }
    //-- MODIFIER: Arrow down
    @at-root #{&}--arrow-down {
        position: absolute;
        display: block;
        border-right: px(3) solid $primary;
        border-bottom: px(3) solid $primary;
        width: px(18);
        height: px(18);
        transform: rotate(45deg);
        top: px(10);
        right: 0;
        left: 0;
        margin: 0 auto;
    }
    //-- MODIFIER: SVG palais
    @at-root #{&}--palais {
        position: absolute;
        width: px(40);
        height: px(40);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    @at-root #{&}--close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: px(30);
        height: px(30);

        &:before,
        &:after {
            position: absolute;
            display: block;
            background-color: $primary;
            content: '';
            height: px(30);
            width: px(2);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}