/**
 Icons
**/

.icon {
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    margin: auto;

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: SVG elements
    @at-root #{&}--svg {
        display: block;
        width: 100%;
    }
    //-- MODIFIER: Arrow down
    @at-root #{&}--arrow-down {
        position: absolute;
        display: block;
        border-right: px(3) solid $primary;
        border-bottom: px(3) solid $primary;
        width: px(18);
        height: px(18);
        transform: rotate(45deg);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    //-- MODIFIER: SVG palais
    @at-root #{&}--palais {
        position: absolute;
        width: px(40);
        height: px(40);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}