/**
 Images
**/

.img {
    // Variable for root id: #{$imgParent}
    $imgParent: &;

    display: block;
    opacity: 0;
    width: 100%;

    //
    //------------------------------- Start Element
    //

    //-- ELEMENT: Image container
    @at-root #{&}__container {
        overflow: hidden;
    }

    @at-root #{&}__ratio {
        position: relative;
        transition: padding 0s;

        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    //
    //------------------------------- Start Modifier
    //

    @at-root #{&}--fade-in {
        transition: all 500ms;
    }

    //-- MODIFIER: Container Hero
    @at-root #{&}--container-hero {
        height: calc(100vw / 1.8666666667); // 1400/750=1.8666666667

        @include media(screen,max,666px) {
            height: calc(100vw / 0.7295719844); // 750/1028=0.7295719844
        }
    }
    //-- MODIFIER: Container Venue
    @at-root #{&}--container-venue {
        position: absolute;
        // height: calc(100vw / 2.8); // 1400/500=2.8
        width: 100%;
        top: 0;
        left: 0;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */

        &:first-child {
            position: relative;
        }

        @include media(screen,max,666px) {
            padding-top: 100%;
        }

        .img {
            position: absolute;
            transform: scale(1.1);
            opacity: 0;
            transition-delay: 600ms;
            top: 0;
            left: 0;
        }
    }

    @at-root #{&}--ratio-16x9 {
        padding-top: getratio(820,461);
    }

    @at-root #{&}--ratio-menu {
        padding-top: getratio(2800,1038);
    }

    //-- MODIFIER: Img Container
    @at-root #{&}--container-visible {
        z-index: 1;

        .img {
            opacity: 1;
            transition: opacity 800ms ease, transform 1800ms ease-out;
            transition-delay: 0ms;
            transform: scale(1);
        }
    }

    //-- MODIFIER: Image loaded
    @at-root #{&}--loaded {

        #{$imgParent} {
            opacity: 1;
        }

        &.img__ratio {
            padding-top: 0;

            img {
                position: static;
            }
        }
    }
}

.no-js {

    .img {
        opacity: 1;
    }

    .res-img {
        display: none;
    }
}