/**
 Images
**/

.img {
    // Variable for root id: #{$imgParent}
    $imgParent: &;

    display: block;
    opacity: 0;
    width: 100%;

    //
    //------------------------------- Start Element
    //

    //-- ELEMENT: Image container
    @at-root #{&}__container {
        overflow: hidden;
    }

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Image loaded
    @at-root #{&}--loaded {

        #{$imgParent} {
            opacity: 1;
        }
    }
    //-- MODIFIER: Container Hero
    @at-root #{&}--container-hero {
        height: calc(100vw / 1.8666666667); // 1400/750=1.8666666667

        @include media(screen,max,666px) {
            height: calc(100vw / 0.8054474708); // 414/514=0.8054474708
        }
    }
    //-- MODIFIER: Container Venue
    @at-root #{&}--container-venue {
        height: calc(100vw / 2.8); // 1400/500=2.8

        @include media(screen,max,666px) {
            height: calc(100vw / 1);
        }
    }
}

.no-js {

    .img {
        opacity: 1;
    }

    .res-img {
        display: none;
    }
}