/**
 Titles
**/

.title {
    display: block;
    font-family: $font-2;

    //
    //------------------------------- Start Element
    //

    //-- ELEMENT: Title top
    @at-root #{&}__top {
        display: block;
        font-size: px(24);
        // font-weight: 600;
        line-height: px(24);
        letter-spacing: px(1.2);
        text-transform: uppercase;
        margin: 0 0 px(10);

        @include media(screen,max,768px) {
            font-size: px(21);
            line-height: px(21);
        }

        @include media(screen,max,375px) {
            font-size: px(18);
            line-height: px(18);
        }
    }
    //-- ELEMENT: Title main
    @at-root #{&}__main {
        display: block;
        font-family: $font-1;
        font-size: px(38);
        line-height: px(38);
        letter-spacing: px(1.2);

        @include media(screen,max,768px) {
            font-size: px(28);
            line-height: px(28);
        }
    }
    //-- ELEMENT: Title small
    @at-root #{&}__small {
        font-size: px(28);

        @include media(screen,max,768px) {
            font-size: px(18);
            line-height: px(18);
        }
    }

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Title hero
    @at-root #{&}--hero {
        text-align: center;
    }
    //-- MODIFIER: Title primary medium
    @at-root #{&}--primary-medium {
        font-family: $font-1;
        font-size: px(18);
        line-height: px(18);
        letter-spacing: px(1.2);
        text-align: center;
    }
    @at-root #{&}--primary-small {
        font-family: $font-1;
        font-size: px(14);
        line-height: px(18);
        letter-spacing: px(1.2);
        text-align: center;
    }
    //-- MODIFIER: Title secondary medium
    @at-root #{&}--secondary-large {
        font-size: px(24);
        line-height: px(24);
        letter-spacing: px(1.2);
        text-transform: uppercase;
        text-align: center;
    }
    //-- MODIFIER: Title secondary medium
    @at-root #{&}--secondary-medium {
        font-size: px(18);
        line-height: px(24);
        letter-spacing: px(1.2);
        text-transform: uppercase;
        text-align: center;
    }
    //-- MODIFIER: Title secondary medium
    @at-root #{&}--secondary-small {
        font-size: px(15);
        font-weight: 600;
        line-height: px(20);
        letter-spacing: px(1.2);
        text-transform: uppercase;
        text-align: center;
    }
    //-- MODIFIER: Title secondary small profile
    @at-root #{&}--secondary-small-profile {
        margin-bottom: px(5);
    }
    //-- MODIFIER: Title secondary small ceremony
    @at-root #{&}--secondary-small-ceremony {
        margin-bottom: px(10);
    }//-- MODIFIER: Title underline
    @at-root #{&}--underline {
        position: relative;
        padding-bottom: px(20);

        &:after {
            position: absolute;
            display: block;
            background-color: $secondary;
            content: '';
            width: px(30);
            height: px(2);
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
        }
    }
    // Text color white
    @at-root #{&}--white {
        color: #fff;
    }
    @at-root #{&}--left {
        text-align: left;
    }

    @at-root #{&}--space {
        margin: px(30) 0 px(20);
    }

    @at-root #{&}--margin-bottom {
        margin-bottom: px(22);
    }
}