/**
 Titles
**/

.title {

    //
    //------------------------------- Start Element
    //

    //-- ELEMENT: Title top
    @at-root #{&}__top {
        display: block;
        font-family: $font-1;
        font-size: px(32);
        line-height: px(32);
        letter-spacing: px(1.2);
        margin: 0 0 px(10);

        @include media(screen,max,600px) {
            font-size: px(21);
            line-break: px(21);
        }
    }
    //-- ELEMENT: Title main
    @at-root #{&}__main {
        display: block;
        font-size: px(38);
        line-height: px(38);
        letter-spacing: px(1.2);
        text-transform: uppercase;

        @include media(screen,max,600px) {
            font-size: px(28);
            line-break: px(28);
        }
    }
    //-- ELEMENT: Title big
    @at-root #{&}__big {
        font-size: px(28);
    }

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Title hero
    @at-root #{&}--hero {
        text-align: center;
    }
    //-- MODIFIER: Title primary medium
    @at-root #{&}--primary-medium {
        font-family: $font-1;
        font-size: px(18);
        line-height: px(18);
        letter-spacing: px(1.2);
        text-align: center;
    }
    //-- MODIFIER: Title secondary medium
    @at-root #{&}--secondary-large {
        font-size: px(24);
        line-height: px(24);
        letter-spacing: px(1.2);
        text-transform: uppercase;
        text-align: center;
    }
    //-- MODIFIER: Title secondary medium
    @at-root #{&}--secondary-medium {
        font-size: px(18);
        line-height: px(24);
        letter-spacing: px(1.2);
        text-transform: uppercase;
        text-align: center;
    }
    //-- MODIFIER: Title secondary medium
    @at-root #{&}--secondary-small {
        font-size: px(15);
        font-weight: 500;
        line-height: px(20);
        letter-spacing: px(1.2);
        text-transform: uppercase;
        text-align: center;
    }
    //-- MODIFIER: Title secondary small profile
    @at-root #{&}--secondary-small-profile {
        margin-bottom: px(5);
    }
    //-- MODIFIER: Title secondary small ceremony
    @at-root #{&}--secondary-small-ceremony {
        margin-bottom: px(10);
    }//-- MODIFIER: Title underline
    @at-root #{&}--underline {
        position: relative;
        padding-bottom: px(8);

        &:after {
            position: absolute;
            display: block;
            background-color: $primary;
            content: '';
            width: px(200);
            height: px(2);
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
        }
    }
}