/**
 Transition
**/

.trans {

    //
    //------------------------------- Start Modifier
    //

    //-- MODIFIER: Transition All
    @at-root #{&}--all {
        transition: all 800ms;
    }
    //-- MODIFIER: Transition All
    @at-root #{&}--all-slow {
        transition: all 1500ms;
    }
    //-- MODIFIER: Transition All for Before and After pseudo class
    @at-root #{&}--all-before-after {
        &:before,
        &:after {
            transition: all 800ms;
        }
    }
    //-- MODIFIER: Change Transition Timing
    @at-root #{&}--ease-in-out {
        transition-timing-function: ease-in-out;

        &:before,
        &:after {
            transition-timing-function: ease-in-out;
        }
    }
}