/**
 Nav
**/
.nav {
  position: relative;
}
.nav__list-link-txt {
  position: relative;
  display: block;
}
.nav__list-link-txt:after {
  position: absolute;
  display: block;
  background-color: #29b6f6;
  content: '';
  width: 0;
  height: 0.125rem;
  right: 0;
  bottom: -0.1875rem;
  left: 0;
  margin: 0 auto;
}
@media screen and (max-width: 666px) {
  .nav__list-link-txt:after {
    content: normal;
  }
}
.nav__list-link {
  position: relative;
  display: block;
  outline: none;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.03125rem;
  text-decoration: none;
  padding: 1.25rem 0.625rem 1.125rem;
}
@media screen and (max-width: 666px) {
  .nav__list-link {
    padding-bottom: 1.0625rem;
  }
}
.nav__list-link:after {
  position: absolute;
  display: block;
  content: '/';
  color: #1c1c1c;
  right: -0.1875rem;
  top: 1.3125rem;
}
@media screen and (max-width: 666px) {
  .nav__list-link:after {
    content: normal;
  }
}
.nav__list-link:hover, .nav__list-link:focus {
  color: #29b6f6;
}
.nav__list-link:hover .nav__list-link-txt:after, .nav__list-link:focus .nav__list-link-txt:after {
  width: 100%;
}
@media screen and (max-width: 666px) {
  .nav__list-item {
    border-bottom: 0.0625rem solid #f4f4f4;
    width: 100%;
  }
}
.nav__list-item:last-child .nav__list-link:after {
  content: normal;
}
@media screen and (max-width: 666px) {
  .nav--primary {
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    position: fixed;
    border-right: 0.0625rem solid #f4f4f4;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 17.5rem;
    height: 100%;
    transition: all 800ms;
    transition-timing-function: ease-in-out;
  }
}
@media screen and (max-width: 666px) {
  .nav--primary-open {
    -ms-transform: translateX(0%);
        transform: translateX(0%);
  }
}
