/**
 Header
**/

.header {
    position: fixed;
    background-color: rgba(#fff,0.6);
    width: 100%;
    height: px(52);
    top: 0;
    left: 0;
    z-index: 1;

    @at-root #{&}__inner {
        max-width: px(1292);
        margin: 0 auto;
        padding: 0 px(10);
    }
}